---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-07-14T15:27:41.327000", "credits":
        0.0, "description": "", "dev": true, "fields": {"000000": {"column_number":
        0, "name": "sepal length", "optype": "numeric"}, "000001": {"column_number":
        1, "name": "sepal width", "optype": "numeric"}, "000002": {"column_number":
        2, "name": "petal length", "optype": "numeric"}, "000003": {"column_number":
        3, "name": "petal width", "optype": "numeric"}, "000004": {"column_number":
        4, "name": "species", "optype": "categorical"}}, "file_name": "iris.csv",
        "md5": "d1175c032e1042bec7f974c91e4a65ae", "name": "iris.csv", "number_of_datasets":
        1, "number_of_models": 0, "number_of_predictions": 0, "private": true, "resource":
        "source/50018fed035d07569b00000b", "size": 4608, "source_parser": {"header":
        true, "locale": "en_US", "missing_tokens": ["", "N/A", "n/a", "NULL", "null",
        "-", "#DIV/0", "#REF!", "#NAME?", "NIL", "nil", "NA", "na", "#VALUE!", "#NULL!",
        "NaN", "#N/A", "#NUM!", "?"], "quote": "\"", "separator": ","}, "status":
        {"code": 5, "elapsed": 75, "message": "The source has been created"}, "tags":
        [], "type": 0, "updated": "2012-07-14T15:27:43.169000"}]}'
  recorded_at: Sat, 14 Jul 2012 15:29:56 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/source/50018fed035d07569b00000b?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"code": 404, "status": {"code": -1201, "extra": ["Couldn''t find
        an instance of ''Dataset'' which matched ''id=50018fef035d074059000049''."],
        "message": "Id does not exist"}}'
  recorded_at: Sat, 14 Jul 2012 15:29:57 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 2}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-14T15:27:43.147000", "credits": 0.00439453125, "description":
        "", "dev": true, "locale": "en_US", "name": "iris'' dataset", "number_of_models":
        0, "number_of_predictions": 0, "private": true, "resource": "dataset/50018fef035d074059000049",
        "rows": 150, "size": 4608, "source": "source/50018fed035d07569b00000b", "source_status":
        true, "status": {"bytes": 4608, "code": 5, "elapsed": 163, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-07-14T15:27:43.321000"}, {"category": 0,
        "code": 200, "columns": 5, "created": "2012-07-14T15:27:30.076000", "credits":
        0.00439453125, "description": "", "dev": true, "locale": "en_US", "name":
        "iris'' dataset", "number_of_models": 1, "number_of_predictions": 0, "private":
        true, "resource": "dataset/50018fe21552681ee4000021", "rows": 150, "size":
        4608, "source": "source/50018fe01552681d6800003d", "source_status": false,
        "status": {"bytes": 4608, "code": 5, "elapsed": 164, "field_errors": [], "message":
        "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-07-14T15:27:34.909000"}]}'
  recorded_at: Sat, 14 Jul 2012 15:29:58 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/dataset/50018fef035d074059000049?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 14 Jul 2012 15:30:00 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-14T15:26:27.577000", "credits": 0.017578125, "dataset":
        "dataset/50018fe21552681ee4000021", "dataset_status": false, "description":
        "", "dev": true, "holdout": 0.0, "input_fields": ["000000", "000001", "000002",
        "000003"], "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "iris''
        dataset model", "number_of_predictions": 0, "objective_fields": ["000004"],
        "private": true, "range": [1, 150], "resource": "model/50018fa3035d07569b000008",
        "rows": 150, "size": 4608, "source": "source/50018fe01552681d6800003d", "source_status":
        false, "status": {"code": 5, "elapsed": 147, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-07-14T15:27:34.912000"}]}'
  recorded_at: Sat, 14 Jul 2012 15:30:03 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/model/50018fa3035d07569b000008?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 14 Jul 2012 15:30:05 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Sat, 14 Jul 2012 15:30:06 GMT
recorded_with: VCR 2.2.2
