---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-06-28T22:26:27.886000", "credits":
        0.0, "description": "", "fields": {"000000": {"column_number": 0, "name":
        "sepal length", "optype": "numeric"}, "000001": {"column_number": 1, "name":
        "sepal width", "optype": "numeric"}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric"}, "000003": {"column_number": 3, "name":
        "petal width", "optype": "numeric"}, "000004": {"column_number": 4, "name":
        "species", "optype": "categorical"}}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 1, "number_of_models": 1, "number_of_predictions":
        0, "private": true, "resource": "source/4fecda1315526875f8003320", "size":
        4608, "source_parser": {"header": true, "locale": "en_US", "missing_tokens":
        ["", "N/A", "n/a", "NULL", "null", "-", "#DIV/0", "#REF!", "#NAME?", "NIL",
        "nil", "NA", "na", "#VALUE!", "#NULL!", "NaN", "#N/A", "#NUM!", "?"], "quote":
        "\"", "separator": ","}, "status": {"code": 5, "elapsed": 68, "message": "The
        source has been created"}, "tags": [], "type": 0, "updated": "2012-06-28T22:25:42.538000"}]}'
  recorded_at: Thu, 28 Jun 2012 22:26:16 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/source/4fecda1315526875f8003320?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Jun 2012 22:26:18 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-28T22:25:40.755000", "credits": 0.00439453125, "description":
        "", "locale": "en_US", "name": "iris'' dataset", "number_of_models": 1, "number_of_predictions":
        0, "private": true, "resource": "dataset/4fecd9e4035d0741f000335b", "rows":
        150, "size": 4608, "source": "source/4fecda1315526875f8003320", "source_status":
        false, "status": {"bytes": 4608, "code": 5, "elapsed": 290, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-06-28T22:25:42.544000"}]}'
  recorded_at: Thu, 28 Jun 2012 22:26:20 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/dataset/4fecd9e4035d0741f000335b?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Jun 2012 22:26:22 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 2}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-28T22:25:42.532000", "credits": 0.017578125, "dataset":
        "dataset/4fecd9e4035d0741f000335b", "dataset_status": false, "description":
        "", "holdout": 0.0, "input_fields": ["000000", "000001", "000002", "000003"],
        "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "iris'' dataset
        model", "number_of_predictions": 0, "objective_fields": ["000004"], "private":
        true, "range": [1, 150], "resource": "model/4fecd9e6035d0741f000335e", "rows":
        150, "size": 4608, "source": "source/4fecda1315526875f8003320", "source_status":
        false, "status": {"code": 5, "elapsed": 133, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-06-28T22:25:48.864000"},
        {"category": 0, "code": 200, "columns": 5, "created": "2012-06-27T02:29:29.487000",
        "credits": 0.017578125, "dataset": "dataset/4fea700715526875f5001bff", "dataset_status":
        false, "description": "", "holdout": 0.0, "input_fields": ["000000", "000001",
        "000002", "000003"], "locale": "en_US", "max_columns": 5, "max_rows": 150,
        "name": "iris'' dataset model", "number_of_predictions": 1, "objective_fields":
        ["000004"], "private": true, "range": [1, 150], "resource": "model/4fea700915526875f3001c2b",
        "rows": 150, "size": 4608, "source": "source/4fea6fd9035d0741f4001bdb", "source_status":
        false, "status": {"code": 5, "elapsed": 153, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-06-27T02:28:47.911000"}]}'
  recorded_at: Thu, 28 Jun 2012 22:26:25 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/model/4fecd9e6035d0741f000335e?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Jun 2012 22:26:26 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Thu, 28 Jun 2012 22:26:29 GMT
recorded_with: VCR 2.2.2
