---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/andromeda/source?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-06-25T14:06:45.194000", "credits":
        0.0, "description": "", "fields": {"000000": {"column_number": 0, "name":
        "sepal length", "optype": "numeric"}, "000001": {"column_number": 1, "name":
        "sepal width", "optype": "numeric"}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric"}, "000003": {"column_number": 3, "name":
        "petal width", "optype": "numeric"}, "000004": {"column_number": 4, "name":
        "species", "optype": "categorical"}}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fe870751552681eb0002894", "size":
        4608, "source_parser": {"header": true, "locale": "en_US", "missing_tokens":
        ["", "N/A", "n/a", "NULL", "null", "-", "#DIV/0", "#REF!", "#NAME?", "NIL",
        "nil", "NA", "na", "#VALUE!", "#NULL!", "NaN", "#N/A", "#NUM!", "?"], "quote":
        "\"", "separator": ","}, "status": {"code": 5, "elapsed": 70, "message": "The
        source has been created"}, "tags": [], "type": 0, "updated": "2012-06-25T14:06:09.075000"}]}'
  recorded_at: Mon, 25 Jun 2012 14:06:35 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/source/4fe870751552681eb0002894?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 25 Jun 2012 14:06:37 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Mon, 25 Jun 2012 14:06:38 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-25T14:00:14.305000", "credits": 0.017578125, "dataset":
        "dataset/4fe86eec1552681eb000288b", "dataset_status": false, "description":
        "", "holdout": 0.0, "input_fields": ["000000", "000001", "000002", "000003"],
        "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "iris'' dataset
        model", "number_of_predictions": 0, "objective_fields": ["000004"], "private":
        true, "range": [1, 150], "resource": "model/4fe86eee1552681eb20028c9", "rows":
        150, "size": 4608, "source": "source/4fe86ec1035d07682f00286e", "source_status":
        false, "status": {"code": 5, "elapsed": 230, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-06-25T14:00:19.559000"}]}'
  recorded_at: Mon, 25 Jun 2012 14:06:39 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/model/4fe86eee1552681eb20028c9?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 25 Jun 2012 14:06:41 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Mon, 25 Jun 2012 14:06:42 GMT
recorded_with: VCR 2.2.2
