---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-07-08T09:19:17.555000", "credits":
        0.0, "description": "", "dev": true, "fields": {"000000": {"column_number":
        0, "name": "sepal length", "optype": "numeric"}, "000001": {"column_number":
        1, "name": "sepal width", "optype": "numeric"}, "000002": {"column_number":
        2, "name": "petal length", "optype": "numeric"}, "000003": {"column_number":
        3, "name": "petal width", "optype": "numeric"}, "000004": {"column_number":
        4, "name": "species", "optype": "categorical"}}, "file_name": "iris.csv",
        "md5": "d1175c032e1042bec7f974c91e4a65ae", "name": "iris.csv", "number_of_datasets":
        0, "number_of_models": 0, "number_of_predictions": 0, "private": true, "resource":
        "source/4ff9509515526823e0000054", "size": 4608, "source_parser": {"header":
        true, "locale": "en_US", "missing_tokens": ["", "N/A", "n/a", "NULL", "null",
        "-", "#DIV/0", "#REF!", "#NAME?", "NIL", "nil", "NA", "na", "#VALUE!", "#NULL!",
        "NaN", "#N/A", "#NUM!", "?"], "quote": "\"", "separator": ","}, "status":
        {"code": 5, "elapsed": 78, "message": "The source has been created"}, "tags":
        [], "type": 0, "updated": "2012-07-08T09:19:17.676000"}]}'
  recorded_at: Sun, 08 Jul 2012 09:19:38 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/source/4ff9509515526823e0000054?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 08 Jul 2012 09:19:40 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/4ff95068035d07470600004e
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-07-08T09:18:32.755225", "credits": 0.0, "description": "",
        "dev": true, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4ff95068035d07470600004e", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-07-08T09:18:32.755247"}'
  recorded_at: Sun, 08 Jul 2012 09:19:42 GMT
[...]
