---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2014-06-26T14:17:20.407000", "credits":
        0.0, "description": "", "dev": true, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_ensembles": 0, "number_of_models":
        0, "number_of_predictions": 0, "private": true, "resource": "source/53ac2b700af5e8152c005d38",
        "shared": false, "size": 4608, "source_parser": {"header": true, "locale":
        "en_US", "missing_tokens": ["", "NaN", "NULL", "N/A", "null", "-", "#REF!",
        "#VALUE!", "?", "#NULL!", "#NUM!", "#DIV/0", "n/a", "#NAME?", "NIL", "nil",
        "na", "#N/A", "NA"], "quote": "\"", "separator": ","}, "status": {"code":
        5, "elapsed": 453, "message": "The source has been created"}, "subscription":
        false, "tags": [], "term_analysis": {"enabled": true}, "type": 0, "updated":
        "2014-06-26T14:17:21.051000"}]}'
  recorded_at: Thu, 26 Jun 2014 14:17:22 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/source/53ac2b700af5e8152c005d38?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 26 Jun 2014 14:17:23 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json
      location:
      - http://bigml.io/andromeda/source/53ac2b720af5e8152c005d3d
    body:
      encoding: UTF-8
      string: '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2014-06-26T14:17:22.582785", "credits": 0.0, "description": "",
        "dev": true, "fields_meta": {"count": 0, "limit": 1000, "offset": 0, "total":
        0}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae", "name":
        "iris.csv", "number_of_datasets": 0, "number_of_ensembles": 0, "number_of_models":
        0, "number_of_predictions": 0, "private": true, "resource": "source/53ac2b720af5e8152c005d3d",
        "shared": false, "size": 4608, "source_parser": {}, "status": {"code": 1,
        "message": "The request has been queued and will be processed soon"}, "subscription":
        false, "tags": [], "term_analysis": {}, "type": 0, "updated": "2014-06-26T14:17:22.582840"}'
  recorded_at: Thu, 26 Jun 2014 14:17:23 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source/53ac2b720af5e8152c005d3d?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"category": 0, "code": 200, "content_type": "application/octet-stream",
        "created": "2014-06-26T14:17:22.582000", "credits": 0.0, "description": "",
        "dev": true, "fields_meta": {"count": 0, "limit": 1000, "offset": 0, "query_total":
        0, "total": 0}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_ensembles": 0, "number_of_models":
        0, "number_of_predictions": 0, "private": true, "resource": "source/53ac2b720af5e8152c005d3d",
        "shared": false, "size": 4608, "source_parser": {"missing_tokens": []}, "status":
        {"code": 3, "elapsed": 0, "message": "The source is being created"}, "subscription":
        false, "tags": [], "term_analysis": {}, "type": 0, "updated": "2014-06-26T14:17:22.770000"}'
  recorded_at: Thu, 26 Jun 2014 14:17:23 GMT
recorded_with: VCR 2.9.2
