---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-07-08T09:20:15.963000", "credits":
        0.0, "description": "", "dev": true, "fields": {"000000": {"column_number":
        0, "name": "sepal length", "optype": "numeric"}, "000001": {"column_number":
        1, "name": "sepal width", "optype": "numeric"}, "000002": {"column_number":
        2, "name": "petal length", "optype": "numeric"}, "000003": {"column_number":
        3, "name": "petal width", "optype": "numeric"}, "000004": {"column_number":
        4, "name": "species", "optype": "categorical"}}, "file_name": "iris.csv",
        "md5": "d1175c032e1042bec7f974c91e4a65ae", "name": "iris.csv", "number_of_datasets":
        1, "number_of_models": 0, "number_of_predictions": 0, "private": true, "resource":
        "source/4ff950cf155268595600003e", "size": 4608, "source_parser": {"header":
        true, "locale": "en_US", "missing_tokens": ["", "N/A", "n/a", "NULL", "null",
        "-", "#DIV/0", "#REF!", "#NAME?", "NIL", "nil", "NA", "na", "#VALUE!", "#NULL!",
        "NaN", "#N/A", "#NUM!", "?"], "quote": "\"", "separator": ","}, "status":
        {"code": 5, "elapsed": 68, "message": "The source has been created"}, "tags":
        [], "type": 0, "updated": "2012-07-08T09:20:17.580000"}]}'
  recorded_at: Sun, 08 Jul 2012 09:21:01 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/source/4ff950cf155268595600003e?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"code": 404, "status": {"code": -1201, "extra": ["Couldn''t find
        an instance of ''Dataset'' which matched ''id=4ff950d11552683175000028''."],
        "message": "Id does not exist"}}'
  recorded_at: Sun, 08 Jul 2012 09:21:02 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 2}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-08T09:20:17.573000", "credits": 0.00439453125, "description":
        "", "dev": true, "locale": "en_US", "name": "iris'' dataset", "number_of_models":
        0, "number_of_predictions": 0, "private": true, "resource": "dataset/4ff950d11552683175000028",
        "rows": 150, "size": 4608, "source": "source/4ff950cf155268595600003e", "source_status":
        true, "status": {"bytes": 4608, "code": 5, "elapsed": 92, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-07-08T09:20:17.711000"}, {"category": 0,
        "code": 200, "columns": 5, "created": "2012-07-08T09:18:14.858000", "credits":
        0.00439453125, "description": "", "dev": true, "locale": "en_US", "name":
        "iris'' dataset", "number_of_models": 1, "number_of_predictions": 0, "private":
        true, "resource": "dataset/4ff95056035d0746fc000041", "rows": 150, "size":
        4608, "source": "source/4ff95055035d070a7100002d", "source_status": false,
        "status": {"bytes": 4608, "code": 5, "elapsed": 162, "field_errors": [], "message":
        "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-07-08T09:18:19.256000"}]}'
  recorded_at: Sun, 08 Jul 2012 09:21:03 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/dataset/4ff950d11552683175000028?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 08 Jul 2012 09:21:05 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-08T09:19:05.801000", "credits": 0.017578125, "dataset":
        "dataset/4ff95056035d0746fc000041", "dataset_status": false, "description":
        "", "dev": true, "holdout": 0.0, "input_fields": ["000000", "000001", "000002",
        "000003"], "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "iris''
        dataset model", "number_of_predictions": 0, "objective_fields": ["000004"],
        "private": true, "range": [1, 150], "resource": "model/4ff950891552683175000023",
        "rows": 150, "size": 4608, "source": "source/4ff95055035d070a7100002d", "source_status":
        false, "status": {"code": 5, "elapsed": 148, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-07-08T09:18:19.261000"}]}'
  recorded_at: Sun, 08 Jul 2012 09:21:09 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/model/4ff950891552683175000023?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 08 Jul 2012 09:21:11 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/prediction?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Sun, 08 Jul 2012 09:21:14 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/prediction?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Sun, 08 Jul 2012 09:21:17 GMT
recorded_with: VCR 2.2.2
