--- 
recorded_with: VCR 2.2.2
http_interactions: 
- request: 
    method: get
    uri: https://bigml.io/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"category\": 0, \"code\": 200, \"content_type\": \"application/octet-stream\", \"created\": \"2012-06-27T02:00:48.341000\", \"credits\": 0.0, \"description\": \"\", \"fields\": {\"000000\": {\"column_number\": 0, \"name\": \"sepal length\", \"optype\": \"numeric\"}, \"000001\": {\"column_number\": 1, \"name\": \"sepal width\", \"optype\": \"numeric\"}, \"000002\": {\"column_number\": 2, \"name\": \"petal length\", \"optype\": \"numeric\"}, \"000003\": {\"column_number\": 3, \"name\": \"petal width\", \"optype\": \"numeric\"}, \"000004\": {\"column_number\": 4, \"name\": \"species\", \"optype\": \"categorical\"}}, \"file_name\": \"iris.csv\", \"md5\": \"d1175c032e1042bec7f974c91e4a65ae\", \"name\": \"iris.csv\", \"number_of_datasets\": 1, \"number_of_models\": 0, \"number_of_predictions\": 0, \"private\": true, \"resource\": \"source/4fea6950035d0741f4001b9f\", \"size\": 4608, \"source_parser\": {\"header\": true, \"locale\": \"en_US\", \"missing_tokens\": [\"\", \"N/A\", \"n/a\", \"NULL\", \"null\", \"-\", \"#DIV/0\", \"#REF!\", \"#NAME?\", \"NIL\", \"nil\", \"NA\", \"na\", \"#VALUE!\", \"#NULL!\", \"NaN\", \"#N/A\", \"#NUM!\", \"?\"], \"quote\": \"\\\"\", \"separator\": \",\"}, \"status\": {\"code\": 5, \"elapsed\": 59, \"message\": \"The source has been created\"}, \"tags\": [], \"type\": 0, \"updated\": \"2012-06-27T02:01:36.823000\"}]}"
  recorded_at: Wed, 27 Jun 2012 02:01:20 GMT
- request: 
    method: delete
    uri: https://bigml.io/andromeda/source/4fea6950035d0741f4001b9f?username=<USERNAME>&api_key=<API_KEY>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      content-type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Wed, 27 Jun 2012 02:01:21 GMT
- request: 
    method: get
    uri: https://bigml.io/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"category\": 0, \"code\": 200, \"columns\": 5, \"created\": \"2012-06-27T02:00:49.663000\", \"credits\": 0.00439453125, \"description\": \"\", \"locale\": \"en_US\", \"name\": \"iris' dataset\", \"number_of_models\": 0, \"number_of_predictions\": 0, \"private\": true, \"resource\": \"dataset/4fea6951035d0741f0001be8\", \"rows\": 150, \"size\": 4608, \"source\": \"source/4fea6950035d0741f4001b9f\", \"source_status\": false, \"status\": {\"bytes\": 4608, \"code\": 5, \"elapsed\": 215, \"field_errors\": [], \"message\": \"The dataset has been created\", \"row_format_errors\": [], \"serialized_rows\": 150}, \"tags\": [], \"updated\": \"2012-06-27T02:01:36.830000\"}]}"
  recorded_at: Wed, 27 Jun 2012 02:01:22 GMT
- request: 
    method: delete
    uri: https://bigml.io/andromeda/dataset/4fea6951035d0741f0001be8?username=<USERNAME>&api_key=<API_KEY>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      content-type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Wed, 27 Jun 2012 02:01:24 GMT
- request: 
    method: get
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 0}, \"objects\": []}"
  recorded_at: Wed, 27 Jun 2012 02:01:26 GMT
- request: 
    method: get
    uri: https://bigml.io/andromeda/prediction?username=<USERNAME>&api_key=<API_KEY>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"category\": 0, \"code\": 200, \"created\": \"2012-06-27T01:46:30.805000\", \"credits\": 0.01, \"dataset\": \"dataset/4fea65c7035d0741ed001b3a\", \"dataset_status\": false, \"description\": \"\", \"fields\": {\"000001\": {\"column_number\": 1, \"datatype\": \"double\", \"name\": \"sepal width\", \"optype\": \"numeric\", \"preferred\": true}, \"000002\": {\"column_number\": 2, \"datatype\": \"double\", \"name\": \"petal length\", \"optype\": \"numeric\", \"preferred\": true}, \"000004\": {\"column_number\": 4, \"datatype\": \"string\", \"name\": \"species\", \"optype\": \"categorical\", \"preferred\": true}}, \"input_data\": {\"000001\": 3}, \"locale\": \"en_US\", \"model\": \"model/4fea65f515526875f3001bd3\", \"model_status\": false, \"name\": \"foo name\", \"objective_fields\": [\"000004\"], \"prediction\": {\"000004\": \"Iris-virginica\"}, \"prediction_path\": {\"bad_fields\": [], \"next_predicates\": [{\"field\": \"000002\", \"operator\": \">\", \"value\": 2.45}, {\"field\": \"000002\", \"operator\": \"<=\", \"value\": 2.45}], \"path\": [], \"unknown_fields\": []}, \"private\": true, \"resource\": \"prediction/4fea65f615526875f5001ba0\", \"source\": \"source/4fea65c5035d0741f4001b8e\", \"source_status\": false, \"status\": {\"code\": 5, \"message\": \"The prediction has been created\"}, \"tags\": [], \"updated\": \"2012-06-27T01:45:47.597000\"}]}"
  recorded_at: Wed, 27 Jun 2012 02:01:30 GMT
- request: 
    method: delete
    uri: https://bigml.io/andromeda/prediction/4fea65f615526875f5001ba0?username=<USERNAME>&api_key=<API_KEY>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      content-type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Wed, 27 Jun 2012 02:01:31 GMT
[...]
