---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-07-08T09:21:54.550000", "credits":
        0.0, "description": "", "dev": true, "fields": {"000000": {"column_number":
        0, "name": "sepal length", "optype": "numeric"}, "000001": {"column_number":
        1, "name": "sepal width", "optype": "numeric"}, "000002": {"column_number":
        2, "name": "petal length", "optype": "numeric"}, "000003": {"column_number":
        3, "name": "petal width", "optype": "numeric"}, "000004": {"column_number":
        4, "name": "species", "optype": "categorical"}}, "file_name": "iris.csv",
        "md5": "d1175c032e1042bec7f974c91e4a65ae", "name": "iris.csv", "number_of_datasets":
        1, "number_of_models": 1, "number_of_predictions": 1, "private": true, "resource":
        "source/4ff95132035d0746fc000050", "size": 4608, "source_parser": {"header":
        true, "locale": "en_US", "missing_tokens": ["", "N/A", "n/a", "NULL", "null",
        "-", "#DIV/0", "#REF!", "#NAME?", "NIL", "nil", "NA", "na", "#VALUE!", "#NULL!",
        "NaN", "#N/A", "#NUM!", "?"], "quote": "\"", "separator": ","}, "status":
        {"code": 5, "elapsed": 412, "message": "The source has been created"}, "tags":
        [], "type": 0, "updated": "2012-07-08T09:22:10.773000"}]}'
  recorded_at: Sun, 08 Jul 2012 09:23:29 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/source/4ff95132035d0746fc000050?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 08 Jul 2012 09:23:32 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-08T09:22:45.615000", "credits": 0.00439453125, "description":
        "", "dev": true, "locale": "en_US", "name": "iris'' dataset", "number_of_models":
        1, "number_of_predictions": 1, "private": true, "resource": "dataset/4ff95165155268595600004a",
        "rows": 150, "size": 4608, "source": "source/4ff95132035d0746fc000050", "source_status":
        false, "status": {"bytes": 4608, "code": 5, "elapsed": 122, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-07-08T09:22:10.934000"}]}'
  recorded_at: Sun, 08 Jul 2012 09:23:33 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/dataset/4ff95165155268595600004a?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 08 Jul 2012 09:23:35 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-08T09:22:48.783000", "credits": 0.017578125, "dataset":
        "dataset/4ff95165155268595600004a", "dataset_status": false, "description":
        "", "dev": true, "holdout": 0.0, "input_fields": ["000000", "000001", "000002",
        "000003"], "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "iris''
        dataset model", "number_of_predictions": 1, "objective_fields": ["000004"],
        "private": true, "range": [1, 150], "resource": "model/4ff9516815526822b800005d",
        "rows": 150, "size": 4608, "source": "source/4ff95132035d0746fc000050", "source_status":
        false, "status": {"code": 5, "elapsed": 131, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-07-08T09:22:17.220000"}]}'
  recorded_at: Sun, 08 Jul 2012 09:23:36 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/model/4ff9516815526822b800005d?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 08 Jul 2012 09:23:38 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/prediction?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "created": "2012-07-08T09:22:07.066000",
        "credits": 0.01, "dataset": "dataset/4ff95165155268595600004a", "dataset_status":
        false, "description": "", "dev": true, "fields": {"000001": {"column_number":
        1, "datatype": "double", "name": "sepal width", "optype": "numeric", "preferred":
        true}, "000002": {"column_number": 2, "datatype": "double", "name": "petal
        length", "optype": "numeric", "preferred": true}, "000004": {"column_number":
        4, "datatype": "string", "name": "species", "optype": "categorical", "preferred":
        true}}, "input_data": {"000001": 3}, "locale": "en_US", "model": "model/4ff9516815526822b800005d",
        "model_status": false, "name": "foo name", "objective_fields": ["000004"],
        "prediction": {"000004": "Iris-virginica"}, "prediction_path": {"bad_fields":
        [], "next_predicates": [{"field": "000002", "operator": ">", "value": 2.45},
        {"field": "000002", "operator": "<=", "value": 2.45}], "path": [], "unknown_fields":
        []}, "private": true, "resource": "prediction/4ff9513f035d074701000052", "source":
        "source/4ff95132035d0746fc000050", "source_status": false, "status": {"code":
        5, "message": "The prediction has been created"}, "tags": [], "updated": "2012-07-08T09:22:18.591000"}]}'
  recorded_at: Sun, 08 Jul 2012 09:23:41 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/prediction/4ff9513f035d074701000052?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 08 Jul 2012 09:23:42 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/4ff9518c15526822b8000061
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-07-08T09:23:24.265254", "credits": 0.0, "description": "",
        "dev": true, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4ff9518c15526822b8000061", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-07-08T09:23:24.265284"}'
  recorded_at: Sun, 08 Jul 2012 09:23:44 GMT
[...]
