---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/andromeda/source?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-06-25T14:09:47.860000", "credits":
        0.0, "description": "", "fields": {"000000": {"column_number": 0, "name":
        "sepal length", "optype": "numeric"}, "000001": {"column_number": 1, "name":
        "sepal width", "optype": "numeric"}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric"}, "000003": {"column_number": 3, "name":
        "petal width", "optype": "numeric"}, "000004": {"column_number": 4, "name":
        "species", "optype": "categorical"}}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 1, "number_of_models": 1, "number_of_predictions":
        1, "private": true, "resource": "source/4fe8712b1552681eb00028a1", "size":
        4608, "source_parser": {"header": true, "locale": "en_US", "missing_tokens":
        ["", "N/A", "n/a", "NULL", "null", "-", "#DIV/0", "#REF!", "#NAME?", "NIL",
        "nil", "NA", "na", "#VALUE!", "#NULL!", "NaN", "#N/A", "#NUM!", "?"], "quote":
        "\"", "separator": ","}, "status": {"code": 5, "elapsed": 87, "message": "The
        source has been created"}, "tags": [], "type": 0, "updated": "2012-06-25T14:09:13.924000"}]}'
  recorded_at: Mon, 25 Jun 2012 14:09:34 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/source/4fe8712b1552681eb00028a1?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 25 Jun 2012 14:09:44 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-25T14:09:50.583000", "credits": 0.00439453125, "description":
        "", "locale": "en_US", "name": "iris'' dataset", "number_of_models": 1, "number_of_predictions":
        1, "private": true, "resource": "dataset/4fe8712e1552681eaf002895", "rows":
        150, "size": 4608, "source": "source/4fe8712b1552681eb00028a1", "source_status":
        false, "status": {"bytes": 4608, "code": 5, "elapsed": 219, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-06-25T14:09:13.951000"}]}'
  recorded_at: Mon, 25 Jun 2012 14:09:45 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/dataset/4fe8712e1552681eaf002895?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 25 Jun 2012 14:09:47 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-25T14:09:11.326000", "credits": 0.017578125, "dataset":
        "dataset/4fe8712e1552681eaf002895", "dataset_status": false, "description":
        "", "holdout": 0.0, "input_fields": ["000000", "000001", "000002", "000003"],
        "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "iris'' dataset
        model", "number_of_predictions": 1, "objective_fields": ["000004"], "private":
        true, "range": [1, 150], "resource": "model/4fe87107035d07682f002886", "rows":
        150, "size": 4608, "source": "source/4fe8712b1552681eb00028a1", "source_status":
        false, "status": {"code": 5, "elapsed": 133, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-06-25T14:09:14.050000"}]}'
  recorded_at: Mon, 25 Jun 2012 14:09:48 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/model/4fe87107035d07682f002886?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 25 Jun 2012 14:09:49 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/prediction?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "created": "2012-06-25T14:09:13.760000",
        "credits": 0.01, "dataset": "dataset/4fe8712e1552681eaf002895", "dataset_status":
        false, "description": "", "fields": {"000001": {"column_number": 1, "datatype":
        "double", "name": "sepal width", "optype": "numeric", "preferred": true},
        "000002": {"column_number": 2, "datatype": "double", "name": "petal length",
        "optype": "numeric", "preferred": true}, "000004": {"column_number": 4, "datatype":
        "string", "name": "species", "optype": "categorical", "preferred": true}},
        "input_data": {"000001": 3}, "locale": "en_US", "model": "model/4fe87107035d07682f002886",
        "model_status": false, "name": "Prediction for species", "objective_fields":
        ["000004"], "prediction": {"000004": "Iris-virginica"}, "prediction_path":
        {"bad_fields": [], "next_predicates": [{"field": "000002", "operator": ">",
        "value": 2.45}, {"field": "000002", "operator": "<=", "value": 2.45}], "path":
        [], "unknown_fields": []}, "private": true, "resource": "prediction/4fe87109035d076831002863",
        "source": "source/4fe8712b1552681eb00028a1", "source_status": false, "status":
        {"code": 5, "message": "The prediction has been created"}, "tags": [], "updated":
        "2012-06-25T14:09:13.760000"}]}'
  recorded_at: Mon, 25 Jun 2012 14:09:51 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/prediction/4fe87109035d076831002863?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 25 Jun 2012 14:09:52 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/4fe871491552681eb00028a5
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-06-25T14:10:17.459255", "credits": 0.0, "description": "",
        "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae", "name":
        "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fe871491552681eb00028a5", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-06-25T14:10:17.459276"}'
  recorded_at: Mon, 25 Jun 2012 14:09:54 GMT
[...]
