--- 
recorded_with: VCR 2.2.2
http_interactions: 
- request: 
    method: get
    uri: https://bigml.io/andromeda/source?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"category\": 0, \"code\": 200, \"content_type\": \"application/octet-stream\", \"created\": \"2012-06-27T02:22:06.356000\", \"credits\": 0.0, \"description\": \"\", \"fields\": {\"000000\": {\"column_number\": 0, \"name\": \"sepal length\", \"optype\": \"numeric\"}, \"000001\": {\"column_number\": 1, \"name\": \"sepal width\", \"optype\": \"numeric\"}, \"000002\": {\"column_number\": 2, \"name\": \"petal length\", \"optype\": \"numeric\"}, \"000003\": {\"column_number\": 3, \"name\": \"petal width\", \"optype\": \"numeric\"}, \"000004\": {\"column_number\": 4, \"name\": \"species\", \"optype\": \"categorical\"}}, \"file_name\": \"iris.csv\", \"md5\": \"d1175c032e1042bec7f974c91e4a65ae\", \"name\": \"iris.csv\", \"number_of_datasets\": 1, \"number_of_models\": 1, \"number_of_predictions\": 1, \"private\": true, \"resource\": \"source/4fea6e4e15526875f8001be1\", \"size\": 4608, \"source_parser\": {\"header\": true, \"locale\": \"en_US\", \"missing_tokens\": [\"\", \"N/A\", \"n/a\", \"NULL\", \"null\", \"-\", \"#DIV/0\", \"#REF!\", \"#NAME?\", \"NIL\", \"nil\", \"NA\", \"na\", \"#VALUE!\", \"#NULL!\", \"NaN\", \"#N/A\", \"#NUM!\", \"?\"], \"quote\": \"\\\"\", \"separator\": \",\"}, \"status\": {\"code\": 5, \"elapsed\": 77, \"message\": \"The source has been created\"}, \"tags\": [], \"type\": 0, \"updated\": \"2012-06-27T02:21:26.032000\"}]}"
  recorded_at: Wed, 27 Jun 2012 02:21:53 GMT
- request: 
    method: delete
    uri: https://bigml.io/andromeda/source/4fea6e4e15526875f8001be1?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      content-type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Wed, 27 Jun 2012 02:21:55 GMT
- request: 
    method: get
    uri: https://bigml.io/andromeda/dataset?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"category\": 0, \"code\": 200, \"columns\": 5, \"created\": \"2012-06-27T02:22:07.758000\", \"credits\": 0.00439453125, \"description\": \"\", \"locale\": \"en_US\", \"name\": \"iris' dataset\", \"number_of_models\": 1, \"number_of_predictions\": 1, \"private\": true, \"resource\": \"dataset/4fea6e4f15526875f9001bbc\", \"rows\": 150, \"size\": 4608, \"source\": \"source/4fea6e4e15526875f8001be1\", \"source_status\": false, \"status\": {\"bytes\": 4608, \"code\": 5, \"elapsed\": 223, \"field_errors\": [], \"message\": \"The dataset has been created\", \"row_format_errors\": [], \"serialized_rows\": 150}, \"tags\": [], \"updated\": \"2012-06-27T02:21:26.038000\"}]}"
  recorded_at: Wed, 27 Jun 2012 02:21:56 GMT
- request: 
    method: delete
    uri: https://bigml.io/andromeda/dataset/4fea6e4f15526875f9001bbc?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      content-type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Wed, 27 Jun 2012 02:21:58 GMT
- request: 
    method: get
    uri: https://bigml.io/andromeda/model?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"category\": 0, \"code\": 200, \"columns\": 5, \"created\": \"2012-06-27T02:21:24.608000\", \"credits\": 0.017578125, \"dataset\": \"dataset/4fea6e4f15526875f9001bbc\", \"dataset_status\": false, \"description\": \"\", \"holdout\": 0.0, \"input_fields\": [\"000000\", \"000001\", \"000002\", \"000003\"], \"locale\": \"en_US\", \"max_columns\": 5, \"max_rows\": 150, \"name\": \"iris' dataset model\", \"number_of_predictions\": 1, \"objective_fields\": [\"000004\"], \"private\": true, \"range\": [1, 150], \"resource\": \"model/4fea6e24035d0741f4001bcd\", \"rows\": 150, \"size\": 4608, \"source\": \"source/4fea6e4e15526875f8001be1\", \"source_status\": false, \"status\": {\"code\": 5, \"elapsed\": 127, \"message\": \"The model has been created\", \"progress\": 1}, \"tags\": [], \"updated\": \"2012-06-27T02:21:26.042000\"}]}"
  recorded_at: Wed, 27 Jun 2012 02:21:59 GMT
- request: 
    method: delete
    uri: https://bigml.io/andromeda/model/4fea6e24035d0741f4001bcd?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      content-type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Wed, 27 Jun 2012 02:22:00 GMT
- request: 
    method: get
    uri: https://bigml.io/andromeda/prediction?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"category\": 0, \"code\": 200, \"created\": \"2012-06-27T02:21:26.027000\", \"credits\": 0.01, \"dataset\": \"dataset/4fea6e4f15526875f9001bbc\", \"dataset_status\": false, \"description\": \"\", \"fields\": {\"000001\": {\"column_number\": 1, \"datatype\": \"double\", \"name\": \"sepal width\", \"optype\": \"numeric\", \"preferred\": true}, \"000002\": {\"column_number\": 2, \"datatype\": \"double\", \"name\": \"petal length\", \"optype\": \"numeric\", \"preferred\": true}, \"000004\": {\"column_number\": 4, \"datatype\": \"string\", \"name\": \"species\", \"optype\": \"categorical\", \"preferred\": true}}, \"input_data\": {\"000001\": 3}, \"locale\": \"en_US\", \"model\": \"model/4fea6e24035d0741f4001bcd\", \"model_status\": false, \"name\": \"foo name\", \"objective_fields\": [\"000004\"], \"prediction\": {\"000004\": \"Iris-virginica\"}, \"prediction_path\": {\"bad_fields\": [], \"next_predicates\": [{\"field\": \"000002\", \"operator\": \">\", \"value\": 2.45}, {\"field\": \"000002\", \"operator\": \"<=\", \"value\": 2.45}], \"path\": [], \"unknown_fields\": []}, \"private\": true, \"resource\": \"prediction/4fea6e26035d0741f1001bea\", \"source\": \"source/4fea6e4e15526875f8001be1\", \"source_status\": false, \"status\": {\"code\": 5, \"message\": \"The prediction has been created\"}, \"tags\": [], \"updated\": \"2012-06-27T02:22:11.692000\"}]}"
  recorded_at: Wed, 27 Jun 2012 02:22:02 GMT
- request: 
    method: delete
    uri: https://bigml.io/andromeda/prediction/4fea6e26035d0741f1001bea?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      content-type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Wed, 27 Jun 2012 02:22:03 GMT
- request: 
    method: post
    uri: https://bigml.io/andromeda/source
    body: 
      string: ""
    headers: 
      content-type: 
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      location: 
      - http://bigml.io/andromeda/source/4fea6e34035d0741f0001c27
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"category\": 0, \"code\": 201, \"content_type\": \"application/octet-stream\", \"created\": \"2012-06-27T02:21:40.820534\", \"credits\": 0.0, \"description\": \"\", \"file_name\": \"iris.csv\", \"md5\": \"d1175c032e1042bec7f974c91e4a65ae\", \"name\": \"iris.csv\", \"number_of_datasets\": 0, \"number_of_models\": 0, \"number_of_predictions\": 0, \"private\": true, \"resource\": \"source/4fea6e34035d0741f0001c27\", \"size\": 4608, \"source_parser\": {}, \"status\": {\"code\": 1, \"message\": \"The request has been queued and will be processed soon\"}, \"tags\": [], \"type\": 0, \"updated\": \"2012-06-27T02:21:40.820565\"}"
  recorded_at: Wed, 27 Jun 2012 02:22:05 GMT
[...]
- request: 
    method: get
    uri: https://bigml.io/andromeda/prediction/4fea6e6515526875f5001bef?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 404
      message: NOT FOUND
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"code\": 404, \"status\": {\"code\": -1201, \"extra\": [\"Couldn't find an instance of 'Prediction' which matched 'pk=4fea6e6515526875f5001bef'.\"], \"message\": \"Id does not exist\"}}"
  recorded_at: Wed, 27 Jun 2012 02:22:11 GMT
[...]
