---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-07-14T15:25:57.167000", "credits":
        0.0, "description": "", "dev": true, "fields": {"000000": {"column_number":
        0, "name": "sepal length", "optype": "numeric"}, "000001": {"column_number":
        1, "name": "sepal width", "optype": "numeric"}, "000002": {"column_number":
        2, "name": "petal length", "optype": "numeric"}, "000003": {"column_number":
        3, "name": "petal width", "optype": "numeric"}, "000004": {"column_number":
        4, "name": "species", "optype": "categorical"}}, "file_name": "iris.csv",
        "md5": "d1175c032e1042bec7f974c91e4a65ae", "name": "iris.csv", "number_of_datasets":
        1, "number_of_models": 1, "number_of_predictions": 0, "private": true, "resource":
        "source/50018f85035d0741ca00001f", "size": 4608, "source_parser": {"header":
        true, "locale": "en_US", "missing_tokens": ["", "N/A", "n/a", "NULL", "null",
        "-", "#DIV/0", "#REF!", "#NAME?", "NIL", "nil", "NA", "na", "#VALUE!", "#NULL!",
        "NaN", "#N/A", "#NUM!", "?"], "quote": "\"", "separator": ","}, "status":
        {"code": 5, "elapsed": 79, "message": "The source has been created"}, "tags":
        [], "type": 0, "updated": "2012-07-14T15:26:03.367000"}]}'
  recorded_at: Sat, 14 Jul 2012 15:26:37 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/source/50018f85035d0741ca00001f?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 14 Jul 2012 15:26:39 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-14T15:25:58.758000", "credits": 0.00439453125, "description":
        "", "dev": true, "locale": "en_US", "name": "iris'' dataset", "number_of_models":
        1, "number_of_predictions": 0, "private": true, "resource": "dataset/50018f86035d07569600000b",
        "rows": 150, "size": 4608, "source": "source/50018f85035d0741ca00001f", "source_status":
        false, "status": {"bytes": 4608, "code": 5, "elapsed": 115, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-07-14T15:26:03.374000"}]}'
  recorded_at: Sat, 14 Jul 2012 15:26:40 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/dataset/50018f86035d07569600000b?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 14 Jul 2012 15:26:43 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-14T15:27:04.667000", "credits": 0.017578125, "dataset":
        "dataset/50018f86035d07569600000b", "dataset_status": false, "description":
        "", "dev": true, "holdout": 0.0, "input_fields": ["000000", "000001", "000002",
        "000003"], "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "iris''
        dataset model", "number_of_predictions": 0, "objective_fields": ["000004"],
        "private": true, "range": [1, 150], "resource": "model/50018fc81552681edf00002c",
        "rows": 150, "size": 4608, "source": "source/50018f85035d0741ca00001f", "source_status":
        false, "status": {"code": 5, "elapsed": 138, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-07-14T15:26:03.382000"}]}'
  recorded_at: Sat, 14 Jul 2012 15:26:44 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/model/50018fc81552681edf00002c?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 14 Jul 2012 15:26:47 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/prediction?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Sat, 14 Jul 2012 15:26:49 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/50018fe01552681d6800003d
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-07-14T15:27:28.289973", "credits": 0.0, "description": "",
        "dev": true, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/50018fe01552681d6800003d", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-07-14T15:27:28.289995"}'
  recorded_at: Sat, 14 Jul 2012 15:26:51 GMT
[...]
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/prediction?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"model":"model/50018fa3035d07569b000008","input_data":{"000001":3}}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/prediction/50018fa5035d0741ca000021
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "created": "2012-07-14T15:26:29.668234",
        "credits": 0.01, "dataset": "dataset/50018fe21552681ee4000021", "dataset_status":
        true, "description": "", "dev": true, "fields": {"000001": {"column_number":
        1, "datatype": "double", "name": "sepal width", "optype": "numeric", "preferred":
        true}, "000002": {"column_number": 2, "datatype": "double", "name": "petal
        length", "optype": "numeric", "preferred": true}, "000004": {"column_number":
        4, "datatype": "string", "name": "species", "optype": "categorical", "preferred":
        true}}, "input_data": {"000001": 3}, "locale": "en_US", "model": "model/50018fa3035d07569b000008",
        "model_status": true, "name": "Prediction for species", "objective_fields":
        ["000004"], "prediction": {"000004": "Iris-virginica"}, "prediction_path":
        {"bad_fields": [], "next_predicates": [{"field": "000002", "operator": ">",
        "value": 2.45}, {"field": "000002", "operator": "<=", "value": 2.45}], "path":
        [], "unknown_fields": []}, "private": true, "resource": "prediction/50018fa5035d0741ca000021",
        "source": "source/50018fe01552681d6800003d", "source_status": true, "status":
        {"code": 5, "message": "The prediction has been created"}, "tags": [], "updated":
        "2012-07-14T15:26:29.668259"}'
  recorded_at: Sat, 14 Jul 2012 15:26:56 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/prediction/50018fa5035d0741ca000021?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 14 Jul 2012 15:26:57 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/prediction/50018fa5035d0741ca000021?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"code": 404, "status": {"code": -1201, "extra": ["Couldn''t find
        an instance of ''Prediction'' which matched ''pk=50018fa5035d0741ca000021''."],
        "message": "Id does not exist"}}'
  recorded_at: Sat, 14 Jul 2012 15:26:58 GMT
recorded_with: VCR 2.2.2
