---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-06-25T15:44:18.149000", "credits":
        0.0, "description": "", "fields": {"000000": {"column_number": 0, "name":
        "sepal length", "optype": "numeric"}, "000001": {"column_number": 1, "name":
        "sepal width", "optype": "numeric"}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric"}, "000003": {"column_number": 3, "name":
        "petal width", "optype": "numeric"}, "000004": {"column_number": 4, "name":
        "species", "optype": "categorical"}}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 1, "number_of_models": 1, "number_of_predictions":
        1, "private": true, "resource": "source/4fe887521552681eae0028f5", "size":
        4608, "source_parser": {"header": true, "locale": "en_US", "missing_tokens":
        ["", "N/A", "n/a", "NULL", "null", "-", "#DIV/0", "#REF!", "#NAME?", "NIL",
        "nil", "NA", "na", "#VALUE!", "#NULL!", "NaN", "#N/A", "#NUM!", "?"], "quote":
        "\"", "separator": ","}, "status": {"code": 5, "elapsed": 87, "message": "The
        source has been created"}, "tags": [], "type": 0, "updated": "2012-06-25T15:44:22.367000"}]}'
  recorded_at: Mon, 25 Jun 2012 15:44:01 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/source/4fe887521552681eae0028f5?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 25 Jun 2012 15:44:03 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-25T15:43:38.330000", "credits": 0.00439453125, "description":
        "", "locale": "en_US", "name": "iris'' dataset", "number_of_models": 1, "number_of_predictions":
        1, "private": true, "resource": "dataset/4fe8872a035d076832002881", "rows":
        150, "size": 4608, "source": "source/4fe887521552681eae0028f5", "source_status":
        false, "status": {"bytes": 4608, "code": 5, "elapsed": 138, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-06-25T15:44:22.410000"}]}'
  recorded_at: Mon, 25 Jun 2012 15:44:04 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/dataset/4fe8872a035d076832002881?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 25 Jun 2012 15:44:06 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-25T15:43:39.729000", "credits": 0.017578125, "dataset":
        "dataset/4fe8872a035d076832002881", "dataset_status": false, "description":
        "", "holdout": 0.0, "input_fields": ["000000", "000001", "000002", "000003"],
        "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "iris'' dataset
        model", "number_of_predictions": 1, "objective_fields": ["000004"], "private":
        true, "range": [1, 150], "resource": "model/4fe8872b035d076831002884", "rows":
        150, "size": 4608, "source": "source/4fe887521552681eae0028f5", "source_status":
        false, "status": {"code": 5, "elapsed": 139, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-06-25T15:44:22.414000"}]}'
  recorded_at: Mon, 25 Jun 2012 15:44:07 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/model/4fe8872b035d076831002884?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 25 Jun 2012 15:44:09 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/prediction?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "created": "2012-06-25T15:44:22.358000",
        "credits": 0.01, "dataset": "dataset/4fe8872a035d076832002881", "dataset_status":
        false, "description": "", "fields": {"000001": {"column_number": 1, "datatype":
        "double", "name": "sepal width", "optype": "numeric", "preferred": true},
        "000002": {"column_number": 2, "datatype": "double", "name": "petal length",
        "optype": "numeric", "preferred": true}, "000004": {"column_number": 4, "datatype":
        "string", "name": "species", "optype": "categorical", "preferred": true}},
        "input_data": {"000001": 3}, "locale": "en_US", "model": "model/4fe8872b035d076831002884",
        "model_status": false, "name": "foo name", "objective_fields": ["000004"],
        "prediction": {"000004": "Iris-virginica"}, "prediction_path": {"bad_fields":
        [], "next_predicates": [{"field": "000002", "operator": ">", "value": 2.45},
        {"field": "000002", "operator": "<=", "value": 2.45}], "path": [], "unknown_fields":
        []}, "private": true, "resource": "prediction/4fe887561552681eb00028c5", "source":
        "source/4fe887521552681eae0028f5", "source_status": false, "status": {"code":
        5, "message": "The prediction has been created"}, "tags": [], "updated": "2012-06-25T15:44:23.717000"}]}'
  recorded_at: Mon, 25 Jun 2012 15:44:11 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/prediction/4fe887561552681eb00028c5?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 25 Jun 2012 15:44:12 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/4fe8873c035d076831002887
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-06-25T15:43:56.558892", "credits": 0.0, "description": "",
        "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae", "name":
        "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fe8873c035d076831002887", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-06-25T15:43:56.558913"}'
  recorded_at: Mon, 25 Jun 2012 15:44:14 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/andromeda/prediction/4fe88741035d07682e002982?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"code": 404, "status": {"code": -1201, "extra": ["Couldn''t find
        an instance of ''Prediction'' which matched ''pk=4fe88741035d07682e002982''."],
        "message": "Id does not exist"}}'
  recorded_at: Mon, 25 Jun 2012 15:44:20 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/prediction?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Mon, 25 Jun 2012 15:44:22 GMT
recorded_with: VCR 2.2.2
