---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-06-20T04:12:15.053000", "credits":
        0.0, "description": "", "fields": {"000000": {"column_number": 0, "name":
        "sepal length", "optype": "numeric"}, "000001": {"column_number": 1, "name":
        "sepal width", "optype": "numeric"}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric"}, "000003": {"column_number": 3, "name":
        "petal width", "optype": "numeric"}, "000004": {"column_number": 4, "name":
        "species", "optype": "categorical"}}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 1, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fe14d9f1552687d4300014b", "size":
        4608, "source_parser": {"header": true, "locale": "en_US", "missing_tokens":
        ["", "N/A", "n/a", "NULL", "null", "-", "#DIV/0", "#REF!", "#NAME?", "NIL",
        "nil", "NA", "na", "#VALUE!", "#NULL!", "NaN", "#N/A", "#NUM!", "?"], "quote":
        "\"", "separator": ","}, "status": {"code": 5, "elapsed": 66, "message": "The
        source has been created"}, "tags": [], "type": 0, "updated": "2012-06-20T04:12:16.612000"}]}'
  recorded_at: Wed, 20 Jun 2012 04:13:06 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/source/4fe14d9f1552687d4300014b?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 20 Jun 2012 04:13:08 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 0,
        "created": "2012-06-20T04:12:16.604000", "credits": 0.0087890625, "description":
        "", "locale": "en-US", "name": "iris'' dataset", "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "dataset/4fe14da01552687d47000127", "rows":
        0, "size": 4608, "source": "source/4fe14d9f1552687d4300014b", "source_status":
        false, "status": {"code": -1, "message": "Bad request to create a dataset"},
        "tags": [], "updated": "2012-06-20T04:12:17.459000"}]}'
  recorded_at: Wed, 20 Jun 2012 04:13:09 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/dataset/4fe14da01552687d47000127?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 20 Jun 2012 04:13:12 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Wed, 20 Jun 2012 04:13:13 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/prediction?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Wed, 20 Jun 2012 04:13:16 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/4fe14dd2035d074a1c000116
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-06-20T04:13:06.811958", "credits": 0.0, "description": "",
        "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae", "name":
        "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fe14dd2035d074a1c000116", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-06-20T04:13:06.811991"}'
  recorded_at: Wed, 20 Jun 2012 04:13:18 GMT
[...]
- request:
    method: post
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"dataset":"dataset/4fe14df11552687d4300014e"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/model/4fe14df31552687d48000120
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "columns": 5, "created": "2012-06-20T04:13:39.327677",
        "credits": 0.03515625, "dataset": "dataset/4fe14df11552687d4300014e", "dataset_status":
        true, "description": "", "holdout": 0.0, "input_fields": [], "locale": "en_US",
        "max_columns": 5, "max_rows": 150, "name": "iris'' dataset model", "number_of_predictions":
        0, "objective_fields": [], "private": true, "range": [1, 150], "resource":
        "model/4fe14df31552687d48000120", "rows": 150, "size": 4608, "source": "source/4fe14dd2035d074a1c000116",
        "source_status": true, "status": {"code": 1, "message": "The model is being
        processed and will be created soon"}, "tags": [], "updated": "2012-06-20T04:13:39.327695"}'
  recorded_at: Wed, 20 Jun 2012 04:13:22 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/prediction?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"model":"model/4fe14df31552687d48000120","input_data":{"000001":3}}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/prediction/4fe14ddd035d074a1b00012e
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "created": "2012-06-20T04:13:17.097105",
        "credits": 0.01, "dataset": "dataset/4fe14df11552687d4300014e", "dataset_status":
        true, "description": "", "fields": {"000001": {"column_number": 1, "datatype":
        "double", "name": "sepal width", "optype": "numeric", "preferred": true},
        "000002": {"column_number": 2, "datatype": "double", "name": "petal length",
        "optype": "numeric", "preferred": true}, "000004": {"column_number": 4, "datatype":
        "string", "name": "species", "optype": "categorical", "preferred": true}},
        "input_data": {"000001": 3}, "locale": "en_US", "model": "model/4fe14df31552687d48000120",
        "model_status": true, "name": "Prediction for species", "objective_fields":
        ["000004"], "prediction": {"000004": "Iris-virginica"}, "prediction_path":
        {"bad_fields": [], "next_predicates": [{"field": "000002", "operator": ">",
        "value": 2.45}, {"field": "000002", "operator": "<=", "value": 2.45}], "path":
        [], "unknown_fields": []}, "private": true, "resource": "prediction/4fe14ddd035d074a1b00012e",
        "source": "source/4fe14dd2035d074a1c000116", "source_status": true, "status":
        {"code": 5, "message": "The prediction has been created"}, "tags": [], "updated":
        "2012-06-20T04:13:17.097129"}'
  recorded_at: Wed, 20 Jun 2012 04:13:30 GMT
[...]
