--- 
recorded_with: VCR 2.2.2
http_interactions: 
- request: 
    method: get
    uri: https://bigml.io/dev/andromeda/source?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"category\": 0, \"code\": 200, \"content_type\": \"application/octet-stream\", \"created\": \"2012-07-08T20:51:56.918000\", \"credits\": 0.0, \"description\": \"\", \"dev\": true, \"fields\": {\"000000\": {\"column_number\": 0, \"name\": \"sepal length\", \"optype\": \"numeric\"}, \"000001\": {\"column_number\": 1, \"name\": \"sepal width\", \"optype\": \"numeric\"}, \"000002\": {\"column_number\": 2, \"name\": \"petal length\", \"optype\": \"numeric\"}, \"000003\": {\"column_number\": 3, \"name\": \"petal width\", \"optype\": \"numeric\"}, \"000004\": {\"column_number\": 4, \"name\": \"species\", \"optype\": \"categorical\"}}, \"file_name\": \"iris.csv\", \"md5\": \"d1175c032e1042bec7f974c91e4a65ae\", \"name\": \"iris.csv\", \"number_of_datasets\": 1, \"number_of_models\": 1, \"number_of_predictions\": 1, \"private\": true, \"resource\": \"source/4ff9f2ec15526822b80000b8\", \"size\": 4608, \"source_parser\": {\"header\": true, \"locale\": \"en_US\", \"missing_tokens\": [\"\", \"N/A\", \"n/a\", \"NULL\", \"null\", \"-\", \"#DIV/0\", \"#REF!\", \"#NAME?\", \"NIL\", \"nil\", \"NA\", \"na\", \"#VALUE!\", \"#NULL!\", \"NaN\", \"#N/A\", \"#NUM!\", \"?\"], \"quote\": \"\\\"\", \"separator\": \",\"}, \"status\": {\"code\": 5, \"elapsed\": 77, \"message\": \"The source has been created\"}, \"tags\": [], \"type\": 0, \"updated\": \"2012-07-08T20:52:02.020000\"}]}"
  recorded_at: Sun, 08 Jul 2012 20:51:19 GMT
- request: 
    method: delete
    uri: https://bigml.io/dev/andromeda/source/4ff9f2ec15526822b80000b8?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      content-type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Sun, 08 Jul 2012 20:51:23 GMT
- request: 
    method: get
    uri: https://bigml.io/dev/andromeda/dataset?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"category\": 0, \"code\": 200, \"columns\": 5, \"created\": \"2012-07-08T20:51:07.777000\", \"credits\": 0.00439453125, \"description\": \"\", \"dev\": true, \"locale\": \"en_US\", \"name\": \"iris' dataset\", \"number_of_models\": 1, \"number_of_predictions\": 1, \"private\": true, \"resource\": \"dataset/4ff9f2bb035d07470b0000c9\", \"rows\": 150, \"size\": 4608, \"source\": \"source/4ff9f2ec15526822b80000b8\", \"source_status\": false, \"status\": {\"bytes\": 4608, \"code\": 5, \"elapsed\": 67, \"field_errors\": [], \"message\": \"The dataset has been created\", \"row_format_errors\": [], \"serialized_rows\": 150}, \"tags\": [], \"updated\": \"2012-07-08T20:52:02.027000\"}]}"
  recorded_at: Sun, 08 Jul 2012 20:51:24 GMT
- request: 
    method: delete
    uri: https://bigml.io/dev/andromeda/dataset/4ff9f2bb035d07470b0000c9?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      content-type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Sun, 08 Jul 2012 20:51:26 GMT
- request: 
    method: get
    uri: https://bigml.io/dev/andromeda/model?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"category\": 0, \"code\": 200, \"columns\": 5, \"created\": \"2012-07-08T20:51:09.783000\", \"credits\": 0.017578125, \"dataset\": \"dataset/4ff9f2bb035d07470b0000c9\", \"dataset_status\": false, \"description\": \"\", \"dev\": true, \"holdout\": 0.0, \"input_fields\": [\"000000\", \"000001\", \"000002\", \"000003\"], \"locale\": \"en_US\", \"max_columns\": 5, \"max_rows\": 150, \"name\": \"iris' dataset model\", \"number_of_predictions\": 1, \"objective_fields\": [\"000004\"], \"private\": true, \"range\": [1, 150], \"resource\": \"model/4ff9f2bd035d070a7100007b\", \"rows\": 150, \"size\": 4608, \"source\": \"source/4ff9f2ec15526822b80000b8\", \"source_status\": false, \"status\": {\"code\": 5, \"elapsed\": 135, \"message\": \"The model has been created\", \"progress\": 1}, \"tags\": [], \"updated\": \"2012-07-08T20:52:02.031000\"}]}"
  recorded_at: Sun, 08 Jul 2012 20:51:27 GMT
- request: 
    method: delete
    uri: https://bigml.io/dev/andromeda/model/4ff9f2bd035d070a7100007b?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      content-type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Sun, 08 Jul 2012 20:51:29 GMT
- request: 
    method: get
    uri: https://bigml.io/dev/andromeda/prediction?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"category\": 0, \"code\": 200, \"created\": \"2012-07-08T20:52:02.015000\", \"credits\": 0.01, \"dataset\": \"dataset/4ff9f2bb035d07470b0000c9\", \"dataset_status\": false, \"description\": \"\", \"dev\": true, \"fields\": {\"000001\": {\"column_number\": 1, \"datatype\": \"double\", \"name\": \"sepal width\", \"optype\": \"numeric\", \"preferred\": true}, \"000002\": {\"column_number\": 2, \"datatype\": \"double\", \"name\": \"petal length\", \"optype\": \"numeric\", \"preferred\": true}, \"000004\": {\"column_number\": 4, \"datatype\": \"string\", \"name\": \"species\", \"optype\": \"categorical\", \"preferred\": true}}, \"input_data\": {\"000001\": 3}, \"locale\": \"en_US\", \"model\": \"model/4ff9f2bd035d070a7100007b\", \"model_status\": false, \"name\": \"Prediction for species\", \"objective_fields\": [\"000004\"], \"prediction\": {\"000004\": \"Iris-virginica\"}, \"prediction_path\": {\"bad_fields\": [], \"next_predicates\": [{\"field\": \"000002\", \"operator\": \">\", \"value\": 2.45}, {\"field\": \"000002\", \"operator\": \"<=\", \"value\": 2.45}], \"path\": [], \"unknown_fields\": []}, \"private\": true, \"resource\": \"prediction/4ff9f2f215526822b80000ba\", \"source\": \"source/4ff9f2ec15526822b80000b8\", \"source_status\": false, \"status\": {\"code\": 5, \"message\": \"The prediction has been created\"}, \"tags\": [], \"updated\": \"2012-07-08T20:52:02.015000\"}]}"
  recorded_at: Sun, 08 Jul 2012 20:51:31 GMT
- request: 
    method: delete
    uri: https://bigml.io/dev/andromeda/prediction/4ff9f2f215526822b80000ba?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      content-type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Sun, 08 Jul 2012 20:51:33 GMT
- request: 
    method: post
    uri: https://bigml.io/dev/andromeda/source
    body: 
      string: ""
    headers: 
      content-type: 
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      location: 
      - http://bigml.io/andromeda/source/4ff9f30115526859560000a4
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"category\": 0, \"code\": 201, \"content_type\": \"application/octet-stream\", \"created\": \"2012-07-08T20:52:17.613854\", \"credits\": 0.0, \"description\": \"\", \"dev\": true, \"file_name\": \"iris.csv\", \"md5\": \"d1175c032e1042bec7f974c91e4a65ae\", \"name\": \"iris.csv\", \"number_of_datasets\": 0, \"number_of_models\": 0, \"number_of_predictions\": 0, \"private\": true, \"resource\": \"source/4ff9f30115526859560000a4\", \"size\": 4608, \"source_parser\": {}, \"status\": {\"code\": 1, \"message\": \"The request has been queued and will be processed soon\"}, \"tags\": [], \"type\": 0, \"updated\": \"2012-07-08T20:52:17.613907\"}"
  recorded_at: Sun, 08 Jul 2012 20:51:34 GMT
[...]
