---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-07-08T09:23:13.425000", "credits":
        0.0, "description": "", "dev": true, "fields": {"000000": {"column_number":
        0, "name": "sepal length", "optype": "numeric"}, "000001": {"column_number":
        1, "name": "sepal width", "optype": "numeric"}, "000002": {"column_number":
        2, "name": "petal length", "optype": "numeric"}, "000003": {"column_number":
        3, "name": "petal width", "optype": "numeric"}, "000004": {"column_number":
        4, "name": "species", "optype": "categorical"}}, "file_name": "iris.csv",
        "md5": "d1175c032e1042bec7f974c91e4a65ae", "name": "iris.csv", "number_of_datasets":
        1, "number_of_models": 1, "number_of_predictions": 0, "private": true, "resource":
        "source/4ff95181035d074701000056", "size": 4608, "source_parser": {"header":
        true, "locale": "en_US", "missing_tokens": ["", "N/A", "n/a", "NULL", "null",
        "-", "#DIV/0", "#REF!", "#NAME?", "NIL", "nil", "NA", "na", "#VALUE!", "#NULL!",
        "NaN", "#N/A", "#NUM!", "?"], "quote": "\"", "separator": ","}, "status":
        {"code": 5, "elapsed": 62, "message": "The source has been created"}, "tags":
        [], "type": 0, "updated": "2012-07-08T09:23:23.037000"}]}'
  recorded_at: Sun, 08 Jul 2012 09:24:38 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/source/4ff95181035d074701000056?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 08 Jul 2012 09:24:40 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-08T09:23:15.365000", "credits": 0.00439453125, "description":
        "", "dev": true, "locale": "en_US", "name": "iris'' dataset", "number_of_models":
        1, "number_of_predictions": 0, "private": true, "resource": "dataset/4ff95183035d0746fc000055",
        "rows": 150, "size": 4608, "source": "source/4ff95181035d074701000056", "source_status":
        false, "status": {"bytes": 4608, "code": 5, "elapsed": 112, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-07-08T09:23:23.044000"}]}'
  recorded_at: Sun, 08 Jul 2012 09:24:41 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/dataset/4ff95183035d0746fc000055?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 08 Jul 2012 09:24:43 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-08T09:24:06.784000", "credits": 0.017578125, "dataset":
        "dataset/4ff95183035d0746fc000055", "dataset_status": false, "description":
        "", "dev": true, "holdout": 0.0, "input_fields": ["000000", "000001", "000002",
        "000003"], "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "iris''
        dataset model", "number_of_predictions": 0, "objective_fields": ["000004"],
        "private": true, "range": [1, 150], "resource": "model/4ff951b6155268318a000050",
        "rows": 150, "size": 4608, "source": "source/4ff95181035d074701000056", "source_status":
        false, "status": {"code": 5, "elapsed": 149, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-07-08T09:23:23.049000"}]}'
  recorded_at: Sun, 08 Jul 2012 09:24:44 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/model/4ff951b6155268318a000050?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 08 Jul 2012 09:24:46 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/prediction?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Sun, 08 Jul 2012 09:24:49 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/4ff951ce15526823e0000065
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-07-08T09:24:30.703809", "credits": 0.0, "description": "",
        "dev": true, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4ff951ce15526823e0000065", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-07-08T09:24:30.703843"}'
  recorded_at: Sun, 08 Jul 2012 09:24:50 GMT
[...]
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/prediction?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"model":"model/4ff951a0035d070a7100003f","input_data":{"000001":3}}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/prediction/4ff951a2035d07470b000055
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "created": "2012-07-08T09:23:46.374785",
        "credits": 0.01, "dataset": "dataset/4ff951d015526823e0000068", "dataset_status":
        true, "description": "", "dev": true, "fields": {"000001": {"column_number":
        1, "datatype": "double", "name": "sepal width", "optype": "numeric", "preferred":
        true}, "000002": {"column_number": 2, "datatype": "double", "name": "petal
        length", "optype": "numeric", "preferred": true}, "000004": {"column_number":
        4, "datatype": "string", "name": "species", "optype": "categorical", "preferred":
        true}}, "input_data": {"000001": 3}, "locale": "en_US", "model": "model/4ff951a0035d070a7100003f",
        "model_status": true, "name": "Prediction for species", "objective_fields":
        ["000004"], "prediction": {"000004": "Iris-virginica"}, "prediction_path":
        {"bad_fields": [], "next_predicates": [{"field": "000002", "operator": ">",
        "value": 2.45}, {"field": "000002", "operator": "<=", "value": 2.45}], "path":
        [], "unknown_fields": []}, "private": true, "resource": "prediction/4ff951a2035d07470b000055",
        "source": "source/4ff951ce15526823e0000065", "source_status": true, "status":
        {"code": 5, "message": "The prediction has been created"}, "tags": [], "updated":
        "2012-07-08T09:23:46.374804"}'
  recorded_at: Sun, 08 Jul 2012 09:24:55 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/prediction/4ff951a2035d07470b000055?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 08 Jul 2012 09:24:56 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/prediction/4ff951a2035d07470b000055?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"code": 404, "status": {"code": -1201, "extra": ["Couldn''t find
        an instance of ''Prediction'' which matched ''pk=4ff951a2035d07470b000055''."],
        "message": "Id does not exist"}}'
  recorded_at: Sun, 08 Jul 2012 09:24:57 GMT
recorded_with: VCR 2.2.2
