---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Thu, 26 Jun 2014 14:29:51 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Thu, 26 Jun 2014 14:29:51 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Thu, 26 Jun 2014 14:29:51 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/model/53aae4a648d9b65d040001d3?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code": 400, "status": {"code": -1204, "extra": ["A model from an
        ensemble cannot be deleted individually"], "message": "Bad request"}}'
  recorded_at: Thu, 26 Jun 2014 14:29:52 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json
      location:
      - http://bigml.io/andromeda/source/53ac2e600af5e8152c005e4f
    body:
      encoding: UTF-8
      string: '{"category": 0, "code": 200, "content_type": "application/octet-stream",
        "created": "2014-06-26T14:29:52.973000", "credits": 0.0, "description": "",
        "dev": true, "fields": {"000000": {"column_number": 0, "name": "sepal length",
        "optype": "numeric", "order": 0}, "000001": {"column_number": 1, "name": "sepal
        width", "optype": "numeric", "order": 1}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric", "order": 2}, "000003": {"column_number":
        3, "name": "petal width", "optype": "numeric", "order": 3}, "000004": {"column_number":
        4, "name": "species", "optype": "categorical", "order": 4, "term_analysis":
        {"enabled": true}}}, "fields_meta": {"count": 5, "limit": 1000, "offset":
        0, "query_total": 5, "total": 5}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_ensembles": 0, "number_of_models":
        0, "number_of_predictions": 0, "private": true, "resource": "source/53ac2e600af5e8152c005e4f",
        "shared": false, "size": 4608, "source_parser": {"header": true, "locale":
        "en_US", "missing_tokens": ["", "NaN", "NULL", "N/A", "null", "-", "#REF!",
        "#VALUE!", "?", "#NULL!", "#NUM!", "#DIV/0", "n/a", "#NAME?", "NIL", "nil",
        "na", "#N/A", "NA"], "quote": "\"", "separator": ","}, "status": {"code":
        5, "elapsed": 365, "message": "The source has been created"}, "subscription":
        false, "tags": [], "term_analysis": {"enabled": true}, "type": 0, "updated":
        "2014-06-26T14:29:53.531000"}'
  recorded_at: Thu, 26 Jun 2014 14:29:53 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"source":"source/53ac2e600af5e8152c005e4f"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json
      location:
      - http://bigml.io/andromeda/dataset/53ac2e620af5e8152c005e52
    body:
      encoding: UTF-8
      string: '{"all_fields": true, "category": 0, "cluster": null, "cluster_status":
        true, "code": 200, "columns": 5, "created": "2014-06-26T14:29:54.683000",
        "credits": 0.00439453125, "description": "", "dev": true, "download": {"code":
        0, "excluded_input_fields": [], "header": true, "input_fields": [], "message":
        "", "preview": [], "separator": ","}, "excluded_fields": [], "field_types":
        {"categorical": 1, "datetime": 0, "numeric": 4, "preferred": 5, "text": 0,
        "total": 5}, "fields": {"000000": {"column_number": 0, "datatype": "double",
        "name": "sepal length", "optype": "numeric", "order": 0, "preferred": true,
        "summary": {"bins": [[4.3, 1], [4.425, 4], [4.6, 4], [4.77143, 7], [4.9625,
        16], [5.1, 9], [5.2, 4], [5.3, 1], [5.4, 6], [5.5, 7], [5.6, 6], [5.7, 8],
        [5.8, 7], [5.9, 3], [6, 6], [6.1, 6], [6.2, 4], [6.3, 9], [6.4, 7], [6.5,
        5], [6.6, 2], [6.7, 8], [6.8, 3], [6.9, 4], [7, 1], [7.1, 1], [7.2, 3], [7.3,
        1], [7.4, 1], [7.6, 1], [7.7, 4], [7.9, 1]], "maximum": 7.9, "mean": 5.84333,
        "median": 5.77889, "minimum": 4.3, "missing_count": 0, "population": 150,
        "splits": [4.51526, 4.67252, 4.81113, 4.89582, 4.96139, 5.01131, 5.05992,
        5.11148, 5.18177, 5.35681, 5.44129, 5.5108, 5.58255, 5.65532, 5.71658, 5.77889,
        5.85381, 5.97078, 6.05104, 6.13074, 6.23023, 6.29578, 6.35078, 6.41459, 6.49383,
        6.63013, 6.70719, 6.79218, 6.92597, 7.20423, 7.64746], "standard_deviation":
        0.82807, "sum": 876.5, "sum_squares": 5223.85, "variance": 0.68569}}, "000001":
        {"column_number": 1, "datatype": "double", "name": "sepal width", "optype":
        "numeric", "order": 1, "preferred": true, "summary": {"counts": [[2, 1], [2.2,
        3], [2.3, 4], [2.4, 3], [2.5, 8], [2.6, 5], [2.7, 9], [2.8, 14], [2.9, 10],
        [3, 26], [3.1, 11], [3.2, 13], [3.3, 6], [3.4, 12], [3.5, 6], [3.6, 4], [3.7,
        3], [3.8, 6], [3.9, 2], [4, 1], [4.1, 1], [4.2, 1], [4.4, 1]], "maximum":
        4.4, "mean": 3.05733, "median": 3.02044, "minimum": 2, "missing_count": 0,
        "population": 150, "standard_deviation": 0.43587, "sum": 458.6, "sum_squares":
        1430.4, "variance": 0.18998}}, "000002": {"column_numb[...]
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"dataset":"dataset/53ac2e620af5e8152c005e52"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json
      location:
      - http://bigml.io/andromeda/model/53ac2e640af5e8153700214d
    body:
      encoding: UTF-8
      string: '{"balance_objective": false, "category": 0, "code": 201, "columns":
        1, "created": "2014-06-26T14:29:56.443957", "credits": 0.017578125, "credits_per_prediction":
        0.0, "dataset": "dataset/53ac2e620af5e8152c005e52", "dataset_field_types":
        {"categorical": 1, "datetime": 0, "numeric": 4, "preferred": 5, "text": 0,
        "total": 5}, "dataset_status": true, "dataset_type": 0, "description": "",
        "dev": true, "ensemble": false, "ensemble_id": "", "ensemble_index": 0, "excluded_fields":
        [], "fields_meta": {"count": 0, "limit": 1000, "offset": 0, "total": 0}, "input_fields":
        [], "locale": "en-US", "max_columns": 5, "max_rows": 150, "name": "iris''
        dataset model", "node_threshold": 512, "number_of_batchpredictions": 0, "number_of_evaluations":
        0, "number_of_predictions": 0, "number_of_public_predictions": 0, "objective_field":
        "000004", "objective_fields": ["000004"], "ordering": 0, "out_of_bag": false,
        "price": 0.0, "private": true, "randomize": false, "range": [1, 150], "replacement":
        false, "resource": "model/53ac2e640af5e8153700214d", "rows": 150, "sample_rate":
        1.0, "shared": false, "size": 4608, "source": "source/53ac2e600af5e8152c005e4f",
        "source_status": true, "status": {"code": 1, "message": "The model is being
        processed and will be created soon"}, "subscription": false, "tags": ["species"],
        "updated": "2014-06-26T14:29:56.443991", "white_box": false}'
  recorded_at: Thu, 26 Jun 2014 14:29:57 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/model/53ac2e640af5e8153700214d?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"balance_objective": false, "category": 0, "code": 200, "columns":
        5, "created": "2014-06-26T14:29:56.443000", "credits": 0.017578125, "credits_per_prediction":
        0.0, "dataset": "dataset/53ac2e620af5e8152c005e52", "dataset_field_types":
        {"categorical": 1, "datetime": 0, "numeric": 4, "preferred": 5, "text": 0,
        "total": 5}, "dataset_status": true, "dataset_type": 0, "description": "",
        "dev": true, "ensemble": false, "ensemble_id": "", "ensemble_index": 0, "excluded_fields":
        [], "fields_meta": {"count": 5, "limit": 1000, "offset": 0, "query_total":
        5, "total": 5}, "input_fields": ["000000", "000001", "000002", "000003"],
        "locale": "en_US", "max_columns": 5, "max_rows": 150, "model": {"fields":
        {"000000": {"column_number": 0, "datatype": "double", "name": "sepal length",
        "optype": "numeric", "order": 0, "preferred": true, "summary": {"bins": [[4.3,
        1], [4.425, 4], [4.6, 4], [4.77143, 7], [4.9625, 16], [5.1, 9], [5.2, 4],
        [5.3, 1], [5.4, 6], [5.5, 7], [5.6, 6], [5.7, 8], [5.8, 7], [5.9, 3], [6,
        6], [6.1, 6], [6.2, 4], [6.3, 9], [6.4, 7], [6.5, 5], [6.6, 2], [6.7, 8],
        [6.8, 3], [6.9, 4], [7, 1], [7.1, 1], [7.2, 3], [7.3, 1], [7.[...]
