---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-06-28T22:26:02.354000", "credits":
        0.0, "description": "", "fields": {"000000": {"column_number": 0, "name":
        "sepal length", "optype": "numeric"}, "000001": {"column_number": 1, "name":
        "sepal width", "optype": "numeric"}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric"}, "000003": {"column_number": 3, "name":
        "petal width", "optype": "numeric"}, "000004": {"column_number": 4, "name":
        "species", "optype": "categorical"}}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 1, "number_of_models": 1, "number_of_predictions":
        0, "private": true, "resource": "source/4fecd9fa035d0741ed0032f8", "size":
        4608, "source_parser": {"header": true, "locale": "en_US", "missing_tokens":
        ["", "N/A", "n/a", "NULL", "null", "-", "#DIV/0", "#REF!", "#NAME?", "NIL",
        "nil", "NA", "na", "#VALUE!", "#NULL!", "NaN", "#N/A", "#NUM!", "?"], "quote":
        "\"", "separator": ","}, "status": {"code": 5, "elapsed": 282, "message":
        "The source has been created"}, "tags": [], "type": 0, "updated": "2012-06-28T22:26:54.600000"}]}'
  recorded_at: Thu, 28 Jun 2012 22:26:39 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/source/4fecd9fa035d0741ed0032f8?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Jun 2012 22:26:43 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-28T22:26:52.750000", "credits": 0.00439453125, "description":
        "", "locale": "en_US", "name": "iris'' dataset", "number_of_models": 1, "number_of_predictions":
        0, "private": true, "resource": "dataset/4fecda2c15526875f50032f6", "rows":
        150, "size": 4608, "source": "source/4fecd9fa035d0741ed0032f8", "source_status":
        false, "status": {"bytes": 4608, "code": 5, "elapsed": 370, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-06-28T22:26:54.608000"}]}'
  recorded_at: Thu, 28 Jun 2012 22:26:44 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/dataset/4fecda2c15526875f50032f6?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Jun 2012 22:26:47 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-28T22:26:54.543000", "credits": 0.017578125, "dataset":
        "dataset/4fecda2c15526875f50032f6", "dataset_status": false, "description":
        "", "holdout": 0.0, "input_fields": ["000000", "000001", "000002", "000003"],
        "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "iris'' dataset
        model", "number_of_predictions": 0, "objective_fields": ["000004"], "private":
        true, "range": [1, 150], "resource": "model/4fecda2e15526875f70033ca", "rows":
        150, "size": 4608, "source": "source/4fecd9fa035d0741ed0032f8", "source_status":
        false, "status": {"code": 5, "elapsed": 131, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-06-28T22:27:02.460000"}]}'
  recorded_at: Thu, 28 Jun 2012 22:26:49 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/model/4fecda2e15526875f70033ca?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Jun 2012 22:26:51 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/4fecda3d15526875f8003324
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-06-28T22:27:09.824751", "credits": 0.0, "description": "",
        "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae", "name":
        "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fecda3d15526875f8003324", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-06-28T22:27:09.824772"}'
  recorded_at: Thu, 28 Jun 2012 22:26:53 GMT
[...]
- request:
    method: post
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"dataset":"dataset/4fecda3f15526875f8003327"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/model/4fecda11035d0741f1003311
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "columns": 5, "created": "2012-06-28T22:26:25.853316",
        "credits": 0.017578125, "dataset": "dataset/4fecda3f15526875f8003327", "dataset_status":
        true, "description": "", "holdout": 0.0, "input_fields": null, "locale": "en-US",
        "max_columns": 5, "max_rows": 150, "model": {"fields": {}, "root": {}}, "name":
        "iris'' dataset model", "number_of_predictions": 0, "objective_fields": [],
        "private": true, "range": [1, 150], "resource": "model/4fecda11035d0741f1003311",
        "rows": 150, "size": 4608, "source": "source/4fecda3d15526875f8003324", "source_status":
        true, "status": {"code": 0, "message": "The dataset is not ready yet"}, "tags":
        [], "updated": "2012-06-28T22:26:25.853343"}'
  recorded_at: Thu, 28 Jun 2012 22:26:58 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-28T22:26:25.853000", "credits": 0.017578125, "dataset":
        "dataset/4fecda3f15526875f8003327", "dataset_status": true, "description":
        "", "holdout": 0.0, "input_fields": null, "locale": "en-US", "max_columns":
        5, "max_rows": 150, "name": "iris'' dataset model", "number_of_predictions":
        0, "objective_fields": [], "private": true, "range": [1, 150], "resource":
        "model/4fecda11035d0741f1003311", "rows": 150, "size": 4608, "source": "source/4fecda3d15526875f8003324",
        "source_status": true, "status": {"code": 0, "message": "The dataset is not
        ready yet"}, "tags": [], "updated": "2012-06-28T22:26:26.065000"}]}'
  recorded_at: Thu, 28 Jun 2012 22:27:01 GMT
recorded_with: VCR 2.2.2
