---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 3}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-06-28T22:28:48.501000", "credits":
        0.0, "description": "", "fields": {"000000": {"column_number": 0, "name":
        "sepal length", "optype": "numeric"}, "000001": {"column_number": 1, "name":
        "sepal width", "optype": "numeric"}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric"}, "000003": {"column_number": 3, "name":
        "petal width", "optype": "numeric"}, "000004": {"column_number": 4, "name":
        "species", "optype": "categorical"}}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 1, "number_of_models": 1, "number_of_predictions":
        0, "private": true, "resource": "source/4fecdaa015526875f900328f", "size":
        4608, "source_parser": {"header": true, "locale": "en_US", "missing_tokens":
        ["", "N/A", "n/a", "NULL", "null", "-", "#DIV/0", "#REF!", "#NAME?", "NIL",
        "nil", "NA", "na", "#VALUE!", "#NULL!", "NaN", "#N/A", "#NUM!", "?"], "quote":
        "\"", "separator": ","}, "status": {"code": 5, "elapsed": 67, "message": "The
        source has been created"}, "tags": [], "type": 0, "updated": "2012-06-28T22:28:03.057000"},
        {"category": 0, "code": 200, "content_type": "application/octet-stream", "created":
        "2012-06-28T22:27:36.418000", "credits": 0.0, "description": "", "fields":
        {"000000": {"column_number": 0, "name": "sepal length", "optype": "numeric"},
        "000001": {"column_number": 1, "name": "sepal width", "optype": "numeric"},
        "000002": {"column_number": 2, "name": "petal length", "optype": "numeric"},
        "000003": {"column_number": 3,[...]
- request:
    method: delete
    uri: https://bigml.io/andromeda/source/4fecdaa015526875f900328f?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Jun 2012 22:28:44 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 2}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-28T22:28:26.926000", "credits": 0.00439453125, "description":
        "", "locale": "en_US", "name": "iris'' dataset", "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "dataset/4fecda8a15526875f800332e", "rows":
        150, "size": 4608, "source": "source/4fecda58035d0741f40032a6", "source_status":
        false, "status": {"bytes": 4608, "code": 5, "elapsed": 12520, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-06-28T22:28:46.260000"}, {"category": 0,
        "code": 200, "columns": 5, "created": "2012-06-28T22:28:01.390000", "credits":
        0.00439453125, "description": "", "locale": "en_US", "name": "iris'' dataset",
        "number_of_models": 1, "number_of_predictions": 0, "private": true, "resource":
        "dataset/4fecda71035d0741ed0032ff", "rows": 150, "size": 4608, "source": "source/4fecdaa015526875f900328f",
        "source_status": false, "status": {"bytes": 4608, "code": 5, "elapsed": 180,
        "field_errors": [], "message": "The dataset has been created", "row_format_errors":
        [], "serialized_rows": 150}, "tags": [], "updated": "2012-06-28T22:28:03.063000"}]}'
  recorded_at: Thu, 28 Jun 2012 22:28:51 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/dataset/4fecda8a15526875f800332e?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Jun 2012 22:28:53 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-28T22:28:03.052000", "credits": 0.017578125, "dataset":
        "dataset/4fecda71035d0741ed0032ff", "dataset_status": false, "description":
        "", "holdout": 0.0, "input_fields": ["000000", "000001", "000002", "000003"],
        "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "foo name",
        "number_of_predictions": 0, "objective_fields": ["000004"], "private": true,
        "range": [1, 150], "resource": "model/4fecda73035d0741f0003367", "rows": 150,
        "size": 4608, "source": "source/4fecdaa015526875f900328f", "source_status":
        false, "status": {"code": 5, "elapsed": 127, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-06-28T22:28:53.617000"}]}'
  recorded_at: Thu, 28 Jun 2012 22:28:56 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/model/4fecda73035d0741f0003367?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Jun 2012 22:28:58 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/4fecda8b035d0741f000336a
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-06-28T22:28:27.473733", "credits": 0.0, "description": "",
        "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae", "name":
        "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fecda8b035d0741f000336a", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-06-28T22:28:27.473765"}'
  recorded_at: Thu, 28 Jun 2012 22:29:00 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/andromeda/model/4fecdac015526875f3003337?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"code": 404, "status": {"code": -1201, "extra": ["Couldn''t find
        an instance of ''Model'' which matched ''pk=4fecdac015526875f3003337''."],
        "message": "Id does not exist"}}'
  recorded_at: Thu, 28 Jun 2012 22:29:07 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Thu, 28 Jun 2012 22:29:08 GMT
recorded_with: VCR 2.2.2
