---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 2}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-06-28T22:27:09.824000", "credits":
        0.0, "description": "", "fields": {"000000": {"column_number": 0, "name":
        "sepal length", "optype": "numeric"}, "000001": {"column_number": 1, "name":
        "sepal width", "optype": "numeric"}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric"}, "000003": {"column_number": 3, "name":
        "petal width", "optype": "numeric"}, "000004": {"column_number": 4, "name":
        "species", "optype": "categorical"}}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 1, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fecda3d15526875f8003324", "size":
        4608, "source_parser": {"header": true, "locale": "en_US", "missing_tokens":
        ["", "N/A", "n/a", "NULL", "null", "-", "#DIV/0", "#REF!", "#NAME?", "NIL",
        "nil", "NA", "na", "#VALUE!", "#NULL!", "NaN", "#N/A", "#NUM!", "?"], "quote":
        "\"", "separator": ","}, "status": {"code": 5, "elapsed": 77, "message": "The
        source has been created"}, "tags": [], "type": 0, "updated": "2012-06-28T22:27:29.364000"},
        {"category": 0, "code": 200, "content_type": "application/octet-stream", "created":
        "2012-06-28T22:26:48.297000", "credits": 0.0, "description": "", "fields":
        {"000000": {"column_number": 0, "name": "sepal length", "optype": "numeric"},
        "000001": {"column_number": 1, "name": "sepal width", "optype": "numeric"},
        "000002": {"column_number": 2, "name": "petal length", "optype": "numeric"},
        "000003": {"column_number": 3, "name": "petal width", "optype": "numeric"},
        "000004": {"column_number": 4, "name": "species", "optype": "categorical"}},
        "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae", "name":
        "iris.csv", "number_of_datasets": 1, "number_of_models": 1, "number_of_predictions":
        0, "private": true, "resource": "source/4fecda28035d0741ef00328a", "size":
        4608, "source_parser": {"header": true, "locale": "en_US", "missing_tokens":
        ["", "N/A", "n/a", "NULL", "null", "-", "#DIV/0", "#REF!", "#NAME?", "NIL",
        "nil", "NA", "na", "#VALUE!", "#NULL!", "NaN", "#N/A", "#NUM!", "?"], "quote":
        "\"", "separator": ","}, "status": {"code": 5, "elapsed": 75, "message": "The
        source has been created"}, "tags": [], "type": 0, "updated": "2012-06-28T22:27:41.622000"}]}'
  recorded_at: Thu, 28 Jun 2012 22:27:29 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/source/4fecda3d15526875f8003324?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"code": 400, "status": {"code": -1204, "extra": ["This source is
        being used and cannot be deleted now"], "message": "Bad request"}}'
  recorded_at: Thu, 28 Jun 2012 22:27:31 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 2}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-28T22:27:11.525000", "credits": 0.00439453125, "description":
        "", "locale": "en_US", "name": "iris'' dataset", "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "dataset/4fecda3f15526875f8003327", "rows":
        150, "size": 4608, "source": "source/4fecda3d15526875f8003324", "source_status":
        true, "status": {"bytes": 4608, "code": 4, "elapsed": 39811, "field_errors":
        [], "message": "The summary is completed. Serializing", "row_format_errors":
        [], "serialized_rows": 0}, "tags": [], "updated": "2012-06-28T22:26:58.595000"},
        {"category": 0, "code": 200, "columns": 5, "created": "2012-06-28T22:26:50.501000",
        "credits": 0.00439453125, "description": "", "locale": "en_US", "name": "iris''
        dataset", "number_of_models": 1, "number_of_predictions": 0, "private": true,
        "resource": "dataset/4fecda2a035d0741ef00328d", "rows": 150, "size": 4608,
        "source": "source/4fecda28035d0741ef00328a", "source_status": true, "status":
        {"bytes": 4608, "code": 4, "elapsed": 12008, "field_errors": [], "message":
        "The summary is completed. Serializing", "row_format_errors": [], "serialized_rows":
        0}, "tags": [], "updated": "2012-06-28T22:27:49.836000"}]}'
  recorded_at: Thu, 28 Jun 2012 22:27:35 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/dataset/4fecda3f15526875f8003327?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Jun 2012 22:27:36 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-28T22:27:41.617000", "credits": 0.017578125, "dataset":
        "dataset/4fecda2a035d0741ef00328d", "dataset_status": true, "description":
        "", "holdout": 0.0, "input_fields": null, "locale": "en-US", "max_columns":
        5, "max_rows": 150, "name": "iris'' dataset model", "number_of_predictions":
        0, "objective_fields": [], "private": true, "range": [1, 150], "resource":
        "model/4fecda5d15526875f50032f9", "rows": 150, "size": 4608, "source": "source/4fecda28035d0741ef00328a",
        "source_status": true, "status": {"code": 0, "message": "The dataset is not
        ready yet"}, "tags": [], "updated": "2012-06-28T22:27:05.830000"}]}'
  recorded_at: Thu, 28 Jun 2012 22:27:39 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/model/4fecda5d15526875f50032f9?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Jun 2012 22:27:43 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/4fecda41035d0741f1003314
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-06-28T22:27:13.381642", "credits": 0.0, "description": "",
        "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae", "name":
        "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fecda41035d0741f1003314", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-06-28T22:27:13.381663"}'
  recorded_at: Thu, 28 Jun 2012 22:27:46 GMT
[...]
- request:
    method: post
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"dataset":"dataset/4fecda43035d0741ef003291"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/model/4fecda7515526875f800332a
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "columns": 5, "created": "2012-06-28T22:28:05.532359",
        "credits": 0.017578125, "dataset": "dataset/4fecda43035d0741ef003291", "dataset_status":
        true, "description": "", "holdout": 0.0, "input_fields": null, "locale": "en-US",
        "max_columns": 5, "max_rows": 150, "model": {"fields": {}, "root": {}}, "name":
        "iris'' dataset model", "number_of_predictions": 0, "objective_fields": [],
        "private": true, "range": [1, 150], "resource": "model/4fecda7515526875f800332a",
        "rows": 150, "size": 4608, "source": "source/4fecda41035d0741f1003314", "source_status":
        true, "status": {"code": 0, "message": "The dataset is not ready yet"}, "tags":
        [], "updated": "2012-06-28T22:28:05.532387"}'
  recorded_at: Thu, 28 Jun 2012 22:27:49 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/model/4fecda7515526875f800332a?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 200, "columns": 5, "created": "2012-06-28T22:28:05.532000",
        "credits": 0.017578125, "dataset": "dataset/4fecda43035d0741ef003291", "dataset_status":
        true, "description": "", "holdout": 0.0, "input_fields": null, "locale": "en-US",
        "max_columns": 5, "max_rows": 150, "model": {"fields": {}, "root": {}}, "name":
        "iris'' dataset model", "number_of_predictions": 0, "objective_fields": [],
        "private": true, "range": [1, 150], "resource": "model/4fecda7515526875f800332a",
        "rows": 150, "size": 4608, "source": "source/4fecda41035d0741f1003314", "source_status":
        true, "status": {"code": 0, "message": "The dataset is not ready yet"}, "tags":
        [], "updated": "2012-06-28T22:28:05.747000"}'
  recorded_at: Thu, 28 Jun 2012 22:27:51 GMT
recorded_with: VCR 2.2.2
