---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-07-14T15:30:02.555000", "credits":
        0.0, "description": "", "dev": true, "fields": {"000000": {"column_number":
        0, "name": "sepal length", "optype": "numeric"}, "000001": {"column_number":
        1, "name": "sepal width", "optype": "numeric"}, "000002": {"column_number":
        2, "name": "petal length", "optype": "numeric"}, "000003": {"column_number":
        3, "name": "petal width", "optype": "numeric"}, "000004": {"column_number":
        4, "name": "species", "optype": "categorical"}}, "file_name": "iris.csv",
        "md5": "d1175c032e1042bec7f974c91e4a65ae", "name": "iris.csv", "number_of_datasets":
        1, "number_of_models": 1, "number_of_predictions": 0, "private": true, "resource":
        "source/5001907a035d0741ca00002e", "size": 4608, "source_parser": {"header":
        true, "locale": "en_US", "missing_tokens": ["", "N/A", "n/a", "NULL", "null",
        "-", "#DIV/0", "#REF!", "#NAME?", "NIL", "nil", "NA", "na", "#VALUE!", "#NULL!",
        "NaN", "#N/A", "#NUM!", "?"], "quote": "\"", "separator": ","}, "status":
        {"code": 5, "elapsed": 69, "message": "The source has been created"}, "tags":
        [], "type": 0, "updated": "2012-07-14T15:31:10.080000"}]}'
  recorded_at: Sat, 14 Jul 2012 15:30:35 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/source/5001907a035d0741ca00002e?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 14 Jul 2012 15:30:39 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 2}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-14T15:30:04.037000", "credits": 0.00439453125, "description":
        "", "dev": true, "locale": "en_US", "name": "iris'' dataset", "number_of_models":
        1, "number_of_predictions": 0, "private": true, "resource": "dataset/5001907c035d0741ca000031",
        "rows": 150, "size": 4608, "source": "source/5001907a035d0741ca00002e", "source_status":
        false, "status": {"bytes": 4608, "code": 5, "elapsed": 184, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-07-14T15:31:10.087000"}, {"category": 0,
        "code": 200, "columns": 5, "created": "2012-07-14T15:29:48.713000", "credits":
        0.00439453125, "description": "", "dev": true, "locale": "en_US", "name":
        "iris'' dataset", "number_of_models": 0, "number_of_predictions": 0, "private":
        true, "resource": "dataset/5001906c035d0741ca00002a", "rows": 150, "size":
        4608, "source": "source/500190aa1552681edf000035", "source_status": false,
        "status": {"bytes": 4608, "code": 5, "elapsed": 207, "field_errors": [], "message":
        "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-07-14T15:31:02.803000"}]}'
  recorded_at: Sat, 14 Jul 2012 15:30:40 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/dataset/5001907c035d0741ca000031?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 14 Jul 2012 15:30:42 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-14T15:31:10.074000", "credits": 0.017578125, "dataset":
        "dataset/5001907c035d0741ca000031", "dataset_status": false, "description":
        "", "dev": true, "holdout": 0.0, "input_fields": ["000000", "000001", "000002",
        "000003"], "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "iris''
        dataset model", "number_of_predictions": 0, "objective_fields": ["000004"],
        "private": true, "range": [1, 150], "resource": "model/500190be1552681edf000039",
        "rows": 150, "size": 4608, "source": "source/5001907a035d0741ca00002e", "source_status":
        false, "status": {"code": 5, "elapsed": 137, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-07-14T15:31:11.447000"}]}'
  recorded_at: Sat, 14 Jul 2012 15:30:45 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/model/500190be1552681edf000039?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 14 Jul 2012 15:30:47 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/500190ce1552681ee400002b
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-07-14T15:31:26.353245", "credits": 0.0, "description": "",
        "dev": true, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/500190ce1552681ee400002b", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-07-14T15:31:26.353270"}'
  recorded_at: Sat, 14 Jul 2012 15:30:49 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-14T15:30:25.290000", "credits": 0.017578125, "dataset":
        "dataset/5001908f035d075696000012", "dataset_status": true, "description":
        "", "dev": true, "holdout": 0.0, "input_fields": ["000000", "000001", "000002",
        "000003"], "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "iris''
        dataset model", "number_of_predictions": 0, "objective_fields": ["000004"],
        "private": true, "range": [1, 150], "resource": "model/50019091035d075696000014",
        "rows": 150, "size": 4608, "source": "source/500190ce1552681ee400002b", "source_status":
        true, "status": {"code": 5, "elapsed": 132, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-07-14T15:30:25.444000"}]}'
  recorded_at: Sat, 14 Jul 2012 15:30:53 GMT
recorded_with: VCR 2.2.2
