---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Wed, 20 Jun 2012 03:57:37 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Wed, 20 Jun 2012 03:57:38 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Wed, 20 Jun 2012 03:57:39 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/4fe14a451552687d43000133
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-06-20T03:57:57.649886", "credits": 0.0, "description": "",
        "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae", "name":
        "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fe14a451552687d43000133", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-06-20T03:57:57.649906"}'
  recorded_at: Wed, 20 Jun 2012 03:57:40 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"source":"source/4fe14a451552687d43000133"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/dataset/4fe14a461552687d42000145
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "columns": 5, "created": "2012-06-20T03:57:58.955800",
        "credits": 0.0087890625, "description": "", "fields": {"000000": {"column_number":
        0, "name": "sepal length", "optype": "numeric"}, "000001": {"column_number":
        1, "name": "sepal width", "optype": "numeric"}, "000002": {"column_number":
        2, "name": "petal length", "optype": "numeric"}, "000003": {"column_number":
        3, "name": "petal width", "optype": "numeric"}, "000004": {"column_number":
        4, "name": "species", "optype": "categorical"}}, "locale": "en_US", "name":
        "iris'' dataset", "number_of_models": 0, "number_of_predictions": 0, "private":
        true, "resource": "dataset/4fe14a461552687d42000145", "rows": 0, "size": 4608,
        "source": "source/4fe14a451552687d43000133", "source_status": true, "status":
        {"code": 1, "message": "The dataset is being processed and will be created
        soon"}, "tags": [], "updated": "2012-06-20T03:57:58.955819"}'
  recorded_at: Wed, 20 Jun 2012 03:57:42 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"dataset":"dataset/4fe14a461552687d42000145"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/model/4fe14a2d035d074a1e0000f7
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "columns": 5, "created": "2012-06-20T03:57:33.206588",
        "credits": 0.03515625, "dataset": "dataset/4fe14a461552687d42000145", "dataset_status":
        true, "description": "", "holdout": 0.0, "input_fields": [], "locale": "en_US",
        "max_columns": 5, "max_rows": 150, "name": "iris'' dataset model", "number_of_predictions":
        0, "objective_fields": [], "private": true, "range": [1, 150], "resource":
        "model/4fe14a2d035d074a1e0000f7", "rows": 150, "size": 4608, "source": "source/4fe14a451552687d43000133",
        "source_status": true, "status": {"code": 1, "message": "The model is being
        processed and will be created soon"}, "tags": [], "updated": "2012-06-20T03:57:33.206620"}'
  recorded_at: Wed, 20 Jun 2012 03:57:44 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-20T03:57:33.206000", "credits": 0.03515625, "dataset":
        "dataset/4fe14a461552687d42000145", "dataset_status": true, "description":
        "", "holdout": 0.0, "input_fields": ["000000", "000001", "000002", "000003"],
        "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "iris'' dataset
        model", "number_of_predictions": 0, "objective_fields": ["000004"], "private":
        true, "range": [1, 150], "resource": "model/4fe14a2d035d074a1e0000f7", "rows":
        150, "size": 4608, "source": "source/4fe14a451552687d43000133", "source_status":
        true, "status": {"code": 5, "elapsed": 150, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-06-20T03:57:33.502000"}]}'
  recorded_at: Wed, 20 Jun 2012 03:57:45 GMT
recorded_with: VCR 2.2.2
