--- 
recorded_with: VCR 2.2.2
http_interactions: 
- request: 
    method: get
    uri: https://bigml.io/andromeda/source?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"category\": 0, \"code\": 200, \"content_type\": \"application/octet-stream\", \"created\": \"2012-06-27T02:18:32.774000\", \"credits\": 0.0, \"description\": \"\", \"fields\": {\"000000\": {\"column_number\": 0, \"name\": \"sepal length\", \"optype\": \"numeric\"}, \"000001\": {\"column_number\": 1, \"name\": \"sepal width\", \"optype\": \"numeric\"}, \"000002\": {\"column_number\": 2, \"name\": \"petal length\", \"optype\": \"numeric\"}, \"000003\": {\"column_number\": 3, \"name\": \"petal width\", \"optype\": \"numeric\"}, \"000004\": {\"column_number\": 4, \"name\": \"species\", \"optype\": \"categorical\"}}, \"file_name\": \"iris.csv\", \"md5\": \"d1175c032e1042bec7f974c91e4a65ae\", \"name\": \"iris.csv\", \"number_of_datasets\": 1, \"number_of_models\": 1, \"number_of_predictions\": 0, \"private\": true, \"resource\": \"source/4fea6d78035d0741f0001c11\", \"size\": 4608, \"source_parser\": {\"header\": true, \"locale\": \"en_US\", \"missing_tokens\": [\"\", \"N/A\", \"n/a\", \"NULL\", \"null\", \"-\", \"#DIV/0\", \"#REF!\", \"#NAME?\", \"NIL\", \"nil\", \"NA\", \"na\", \"#VALUE!\", \"#NULL!\", \"NaN\", \"#N/A\", \"#NUM!\", \"?\"], \"quote\": \"\\\"\", \"separator\": \",\"}, \"status\": {\"code\": 5, \"elapsed\": 76, \"message\": \"The source has been created\"}, \"tags\": [], \"type\": 0, \"updated\": \"2012-06-27T02:19:20.215000\"}]}"
  recorded_at: Wed, 27 Jun 2012 02:19:03 GMT
- request: 
    method: delete
    uri: https://bigml.io/andromeda/source/4fea6d78035d0741f0001c11?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      content-type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Wed, 27 Jun 2012 02:19:05 GMT
- request: 
    method: get
    uri: https://bigml.io/andromeda/dataset?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"category\": 0, \"code\": 200, \"columns\": 5, \"created\": \"2012-06-27T02:19:18.790000\", \"credits\": 0.00439453125, \"description\": \"\", \"locale\": \"en_US\", \"name\": \"iris' dataset\", \"number_of_models\": 1, \"number_of_predictions\": 0, \"private\": true, \"resource\": \"dataset/4fea6da615526875f3001c06\", \"rows\": 150, \"size\": 4608, \"source\": \"source/4fea6d78035d0741f0001c11\", \"source_status\": false, \"status\": {\"bytes\": 4608, \"code\": 5, \"elapsed\": 457, \"field_errors\": [], \"message\": \"The dataset has been created\", \"row_format_errors\": [], \"serialized_rows\": 150}, \"tags\": [], \"updated\": \"2012-06-27T02:19:20.222000\"}]}"
  recorded_at: Wed, 27 Jun 2012 02:19:06 GMT
- request: 
    method: delete
    uri: https://bigml.io/andromeda/dataset/4fea6da615526875f3001c06?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      content-type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Wed, 27 Jun 2012 02:19:07 GMT
- request: 
    method: get
    uri: https://bigml.io/andromeda/model?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"meta\": {\"limit\": 20, \"next\": null, \"offset\": 0, \"previous\": null, \"total_count\": 1}, \"objects\": [{\"category\": 0, \"code\": 200, \"columns\": 5, \"created\": \"2012-06-27T02:19:20.211000\", \"credits\": 0.017578125, \"dataset\": \"dataset/4fea6da615526875f3001c06\", \"dataset_status\": false, \"description\": \"\", \"holdout\": 0.0, \"input_fields\": [\"000000\", \"000001\", \"000002\", \"000003\"], \"locale\": \"en_US\", \"max_columns\": 5, \"max_rows\": 150, \"name\": \"foo name\", \"number_of_predictions\": 0, \"objective_fields\": [\"000004\"], \"private\": true, \"range\": [1, 150], \"resource\": \"model/4fea6da815526875f7001c20\", \"rows\": 150, \"size\": 4608, \"source\": \"source/4fea6d78035d0741f0001c11\", \"source_status\": false, \"status\": {\"code\": 5, \"elapsed\": 132, \"message\": \"The model has been created\", \"progress\": 1}, \"tags\": [], \"updated\": \"2012-06-27T02:18:37.150000\"}]}"
  recorded_at: Wed, 27 Jun 2012 02:19:08 GMT
- request: 
    method: delete
    uri: https://bigml.io/andromeda/model/4fea6da815526875f7001c20?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 204
      message: NO CONTENT
    headers: 
      content-type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Wed, 27 Jun 2012 02:19:10 GMT
- request: 
    method: post
    uri: https://bigml.io/andromeda/source
    body: 
      string: ""
    headers: 
      content-type: 
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 201
      message: CREATED
    headers: 
      location: 
      - http://bigml.io/andromeda/source/4fea6d88035d0741f4001bbc
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"category\": 0, \"code\": 201, \"content_type\": \"application/octet-stream\", \"created\": \"2012-06-27T02:18:48.346941\", \"credits\": 0.0, \"description\": \"\", \"file_name\": \"iris.csv\", \"md5\": \"d1175c032e1042bec7f974c91e4a65ae\", \"name\": \"iris.csv\", \"number_of_datasets\": 0, \"number_of_models\": 0, \"number_of_predictions\": 0, \"private\": true, \"resource\": \"source/4fea6d88035d0741f4001bbc\", \"size\": 4608, \"source_parser\": {}, \"status\": {\"code\": 1, \"message\": \"The request has been queued and will be processed soon\"}, \"tags\": [], \"type\": 0, \"updated\": \"2012-06-27T02:18:48.346964\"}"
  recorded_at: Wed, 27 Jun 2012 02:19:12 GMT
[...]
- request: 
    method: get
    uri: https://bigml.io/andromeda/model/4fea6db715526875f3001c09?api_key=<API_KEY>&username=<USERNAME>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 404
      message: NOT FOUND
    headers: 
      content-type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"code\": 404, \"status\": {\"code\": -1201, \"extra\": [\"Couldn't find an instance of 'Model' which matched 'pk=4fea6db715526875f3001c09'.\"], \"message\": \"Id does not exist\"}}"
  recorded_at: Wed, 27 Jun 2012 02:19:18 GMT
[...]
