---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-06-20T03:58:09.524000", "credits":
        0.0, "description": "", "fields": {"000000": {"column_number": 0, "name":
        "sepal length", "optype": "numeric"}, "000001": {"column_number": 1, "name":
        "sepal width", "optype": "numeric"}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric"}, "000003": {"column_number": 3, "name":
        "petal width", "optype": "numeric"}, "000004": {"column_number": 4, "name":
        "species", "optype": "categorical"}}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 1, "number_of_models": 1, "number_of_predictions":
        0, "private": true, "resource": "source/4fe14a51035d074a21000148", "size":
        4608, "source_parser": {"header": true, "locale": "en_US", "missing_tokens":
        ["", "N/A", "n/a", "NULL", "null", "-", "#DIV/0", "#REF!", "#NAME?", "NIL",
        "nil", "NA", "na", "#VALUE!", "#NULL!", "NaN", "#N/A", "#NUM!", "?"], "quote":
        "\"", "separator": ","}, "status": {"code": 5, "elapsed": 67, "message": "The
        source has been created"}, "tags": [], "type": 0, "updated": "2012-06-20T03:58:40.624000"}]}'
  recorded_at: Wed, 20 Jun 2012 03:58:27 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/source/4fe14a51035d074a21000148?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 20 Jun 2012 03:58:28 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-20T03:58:10.771000", "credits": 0.0087890625, "description":
        "", "locale": "en_US", "name": "iris'' dataset", "number_of_models": 1, "number_of_predictions":
        0, "private": true, "resource": "dataset/4fe14a52035d074a1e0000fd", "rows":
        150, "size": 4608, "source": "source/4fe14a51035d074a21000148", "source_status":
        false, "status": {"bytes": 4608, "code": 5, "elapsed": 228, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-06-20T03:58:40.631000"}]}'
  recorded_at: Wed, 20 Jun 2012 03:58:29 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/dataset/4fe14a52035d074a1e0000fd?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 20 Jun 2012 03:58:31 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-20T03:58:40.600000", "credits": 0.03515625, "dataset":
        "dataset/4fe14a52035d074a1e0000fd", "dataset_status": false, "description":
        "", "holdout": 0.0, "input_fields": ["000000", "000001", "000002", "000003"],
        "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "foo name",
        "number_of_predictions": 0, "objective_fields": ["000004"], "private": true,
        "range": [1, 150], "resource": "model/4fe14a701552687d4500014f", "rows": 150,
        "size": 4608, "source": "source/4fe14a51035d074a21000148", "source_status":
        false, "status": {"code": 5, "elapsed": 147, "message": "The model has been
        created", "progress": 1}, "tags": [], "updated": "2012-06-20T03:58:41.982000"}]}'
  recorded_at: Wed, 20 Jun 2012 03:58:32 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/model/4fe14a701552687d4500014f?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 20 Jun 2012 03:58:33 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/4fe14a7c1552687d43000139
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-06-20T03:58:52.261553", "credits": 0.0, "description": "",
        "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae", "name":
        "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fe14a7c1552687d43000139", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-06-20T03:58:52.261575"}'
  recorded_at: Wed, 20 Jun 2012 03:58:35 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/andromeda/model/4fe14a62035d074a1b000118?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"code": 404, "status": {"code": -1201, "extra": ["Couldn''t find
        an instance of ''Model'' which matched ''pk=4fe14a62035d074a1b000118''."],
        "message": "Id does not exist"}}'
  recorded_at: Wed, 20 Jun 2012 03:58:40 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Wed, 20 Jun 2012 03:58:41 GMT
recorded_with: VCR 2.2.2
