---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Sun, 08 Jul 2012 09:12:41 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-08T09:11:05.553000", "credits": 0.00439453125, "description":
        "", "dev": true, "locale": "en_US", "name": "iris'' dataset", "number_of_models":
        0, "number_of_predictions": 0, "private": true, "resource": "dataset/4ff94ea9035d070a71000010",
        "rows": 150, "size": 4608, "source": "source/4ff94ed91552685956000022", "source_status":
        false, "status": {"bytes": 4608, "code": 5, "elapsed": 180, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-07-08T09:12:12.867000"}]}'
  recorded_at: Sun, 08 Jul 2012 09:12:42 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/dataset/4ff94ea9035d070a71000010?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 08 Jul 2012 09:12:59 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Sun, 08 Jul 2012 09:13:00 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/4ff94ed9035d07470600002b
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-07-08T09:11:53.238663", "credits": 0.0, "description": "",
        "dev": true, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4ff94ed9035d07470600002b", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-07-08T09:11:53.238691"}'
  recorded_at: Sun, 08 Jul 2012 09:13:03 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"source":"source/4ff94ed9035d07470600002b"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/dataset/4ff94f0c1552685956000025
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "columns": 5, "created": "2012-07-08T09:12:44.972197",
        "credits": 0.00439453125, "description": "", "dev": true, "fields": {"000000":
        {"column_number": 0, "name": "sepal length", "optype": "numeric"}, "000001":
        {"column_number": 1, "name": "sepal width", "optype": "numeric"}, "000002":
        {"column_number": 2, "name": "petal length", "optype": "numeric"}, "000003":
        {"column_number": 3, "name": "petal width", "optype": "numeric"}, "000004":
        {"column_number": 4, "name": "species", "optype": "categorical"}}, "locale":
        "en_US", "name": "iris'' dataset", "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "dataset/4ff94f0c1552685956000025", "rows":
        0, "size": 4608, "source": "source/4ff94ed9035d07470600002b", "source_status":
        true, "status": {"code": 1, "message": "The dataset is being processed and
        will be created soon"}, "tags": [], "updated": "2012-07-08T09:12:44.972227"}'
  recorded_at: Sun, 08 Jul 2012 09:13:05 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"dataset":"dataset/4ff94f0c1552685956000025"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/model/4ff94f0e15526823e0000033
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "columns": 5, "created": "2012-07-08T09:12:46.911229",
        "credits": 0.017578125, "dataset": "dataset/4ff94f0c1552685956000025", "dataset_status":
        true, "description": "", "dev": true, "holdout": 0.0, "input_fields": [],
        "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "iris'' dataset
        model", "number_of_predictions": 0, "objective_fields": [], "private": true,
        "range": [1, 150], "resource": "model/4ff94f0e15526823e0000033", "rows": 150,
        "size": 4608, "source": "source/4ff94ed9035d07470600002b", "source_status":
        true, "status": {"code": 1, "message": "The model is being processed and will
        be created soon"}, "tags": [], "updated": "2012-07-08T09:12:46.911258"}'
  recorded_at: Sun, 08 Jul 2012 09:13:06 GMT
recorded_with: VCR 2.2.2
