---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-06-28T22:26:13.480000", "credits":
        0.0, "description": "", "fields": {"000000": {"column_number": 0, "name":
        "sepal length", "optype": "numeric"}, "000001": {"column_number": 1, "name":
        "sepal width", "optype": "numeric"}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric"}, "000003": {"column_number": 3, "name":
        "petal width", "optype": "numeric"}, "000004": {"column_number": 4, "name":
        "species", "optype": "categorical"}}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fecda0515526875f800331e", "size":
        4608, "source_parser": {"header": true, "locale": "en_US", "missing_tokens":
        ["", "N/A", "n/a", "NULL", "null", "-", "#DIV/0", "#REF!", "#NAME?", "NIL",
        "nil", "NA", "na", "#VALUE!", "#NULL!", "NaN", "#N/A", "#NUM!", "?"], "quote":
        "\"", "separator": ","}, "status": {"code": 5, "elapsed": 88, "message": "The
        source has been created"}, "tags": [], "type": 0, "updated": "2012-06-28T22:25:28.018000"}]}'
  recorded_at: Thu, 28 Jun 2012 22:26:06 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/source/4fecda0515526875f800331e?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 28 Jun 2012 22:26:08 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Thu, 28 Jun 2012 22:26:09 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/4fecda1315526875f8003320
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-06-28T22:26:27.886251", "credits": 0.0, "description": "",
        "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae", "name":
        "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fecda1315526875f8003320", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-06-28T22:26:27.886278"}'
  recorded_at: Thu, 28 Jun 2012 22:26:11 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"source":"source/4fecda1315526875f8003320"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/dataset/4fecd9e4035d0741f000335b
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "columns": 5, "created": "2012-06-28T22:25:40.755873",
        "credits": 0.00439453125, "description": "", "fields": {"000000": {"column_number":
        0, "name": "sepal length", "optype": "numeric"}, "000001": {"column_number":
        1, "name": "sepal width", "optype": "numeric"}, "000002": {"column_number":
        2, "name": "petal length", "optype": "numeric"}, "000003": {"column_number":
        3, "name": "petal width", "optype": "numeric"}, "000004": {"column_number":
        4, "name": "species", "optype": "categorical"}}, "locale": "en_US", "name":
        "iris'' dataset", "number_of_models": 0, "number_of_predictions": 0, "private":
        true, "resource": "dataset/4fecd9e4035d0741f000335b", "rows": 0, "size": 4608,
        "source": "source/4fecda1315526875f8003320", "source_status": true, "status":
        {"code": 1, "message": "The dataset is being processed and will be created
        soon"}, "tags": [], "updated": "2012-06-28T22:25:40.755900"}'
  recorded_at: Thu, 28 Jun 2012 22:26:13 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"dataset":"dataset/4fecd9e4035d0741f000335b"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/model/4fecd9e6035d0741f000335e
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "columns": 5, "created": "2012-06-28T22:25:42.532787",
        "credits": 0.017578125, "dataset": "dataset/4fecd9e4035d0741f000335b", "dataset_status":
        true, "description": "", "holdout": 0.0, "input_fields": [], "locale": "en_US",
        "max_columns": 5, "max_rows": 150, "name": "iris'' dataset model", "number_of_predictions":
        0, "objective_fields": [], "private": true, "range": [1, 150], "resource":
        "model/4fecd9e6035d0741f000335e", "rows": 150, "size": 4608, "source": "source/4fecda1315526875f8003320",
        "source_status": true, "status": {"code": 1, "message": "The model is being
        processed and will be created soon"}, "tags": [], "updated": "2012-06-28T22:25:42.532812"}'
  recorded_at: Thu, 28 Jun 2012 22:26:15 GMT
recorded_with: VCR 2.2.2
