---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2014-06-26T14:21:25.625000", "credits":
        0.0, "description": "", "dev": true, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 1, "number_of_ensembles": 0, "number_of_models":
        0, "number_of_predictions": 0, "private": true, "resource": "source/53ac2c65ffa04408550066b7",
        "shared": false, "size": 4608, "source_parser": {"header": true, "locale":
        "en_US", "missing_tokens": ["", "NaN", "NULL", "N/A", "null", "-", "#REF!",
        "#VALUE!", "?", "#NULL!", "#NUM!", "#DIV/0", "n/a", "#NAME?", "NIL", "nil",
        "na", "#N/A", "NA"], "quote": "\"", "separator": ","}, "status": {"code":
        5, "elapsed": 291, "message": "The source has been created"}, "subscription":
        false, "tags": [], "term_analysis": {"enabled": true}, "type": 0, "updated":
        "2014-06-26T14:21:27.310000"}]}'
  recorded_at: Thu, 26 Jun 2014 14:23:59 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/source/53ac2c65ffa04408550066b7?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 26 Jun 2014 14:23:59 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"all_fields": true, "category": 0, "cluster":
        null, "cluster_status": true, "code": 200, "columns": 5, "created": "2014-06-26T14:21:27.299000",
        "credits": 0.00439453125, "description": "", "dev": true, "field_types": {"categorical":
        1, "datetime": 0, "numeric": 4, "preferred": 5, "text": 0, "total": 5}, "locale":
        "en_US", "missing_numeric_rows": 0, "name": "iris'' dataset", "number_of_batchcentroids":
        0, "number_of_batchpredictions": 0, "number_of_clusters": 0, "number_of_ensembles":
        0, "number_of_evaluations": 0, "number_of_models": 0, "number_of_predictions":
        0, "objective_field": {"column_number": 4, "datatype": "string", "id": "000004",
        "name": "species", "optype": "categorical", "order": 4, "term_analysis": {"enabled":
        true}}, "price": 0.0, "private": true, "ranges": null, "replacements": null,
        "resource": "dataset/53ac2c67ffa044085d0023c6", "rows": 150, "sample_rates":
        null, "seeds": null, "shared": false, "size": 4608, "source": "source/53ac2c65ffa04408550066b7",
        "source_status": false, "status": {"bytes": 4608, "code": 5, "elapsed": 710,
        "field_errors": [], "message": "The dataset has been created", "row_format_errors":
        [], "serialized_rows": 150}, "subscription": false, "tags": [], "term_limit":
        32, "updated": "2014-06-26T14:21:28.281000"}]}'
  recorded_at: Thu, 26 Jun 2014 14:24:00 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/dataset/53ac2c67ffa044085d0023c6?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 26 Jun 2014 14:24:00 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json
      location:
      - http://bigml.io/andromeda/source/53ac2cffffa04408550066c5
    body:
      encoding: UTF-8
      string: '{"category": 0, "code": 200, "content_type": "application/octet-stream",
        "created": "2014-06-26T14:23:59.666000", "credits": 0.0, "description": "",
        "dev": true, "fields": {"000000": {"column_number": 0, "name": "sepal length",
        "optype": "numeric", "order": 0}, "000001": {"column_number": 1, "name": "sepal
        width", "optype": "numeric", "order": 1}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric", "order": 2}, "000003": {"column_number":
        3, "name": "petal width", "optype": "numeric", "order": 3}, "000004": {"column_number":
        4, "name": "species", "optype": "categorical", "order": 4, "term_analysis":
        {"enabled": true}}}, "fields_meta": {"count": 5, "limit": 1000, "offset":
        0, "query_total": 5, "total": 5}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_ensembles": 0, "number_of_models":
        0, "number_of_predictions": 0, "private": true, "resource": "source/53ac2cffffa04408550066c5",
        "shared": false, "size": 4608, "source_parser": {"header": true, "locale":
        "en_US", "missing_tokens": ["", "NaN", "NULL", "N/A", "null", "-", "#REF!",
        "#VALUE!", "?", "#NULL!", "#NUM!", "#DIV/0", "n/a", "#NAME?", "NIL", "nil",
        "na", "#N/A", "NA"], "quote": "\"", "separator": ","}, "status": {"code":
        5, "elapsed": 319, "message": "The source has been created"}, "subscription":
        false, "tags": [], "term_analysis": {"enabled": true}, "type": 0, "updated":
        "2014-06-26T14:24:00.180000"}'
  recorded_at: Thu, 26 Jun 2014 14:24:00 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"source":"source/53ac2cffffa04408550066c5"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json
      location:
      - http://bigml.io/andromeda/dataset/53ac2d010af5e815350042b9
    body:
      encoding: UTF-8
      string: '{"all_fields": true, "category": 0, "cluster": null, "cluster_status":
        true, "code": 201, "columns": 0, "created": "2014-06-26T14:24:01.356423",
        "credits": 0.00439453125, "description": "", "dev": true, "download": {"code":
        0, "excluded_input_fields": [], "header": true, "input_fields": [], "message":
        "", "preview": [], "separator": ","}, "excluded_fields": [], "field_types":
        {"categorical": 0, "datetime": 0, "numeric": 0, "preferred": 0, "text": 0,
        "total": 0}, "fields_meta": {"count": 0, "limit": 1000, "offset": 0, "total":
        0}, "locale": "en-US", "missing_numeric_rows": 0, "missing_tokens": [], "name":
        "iris'' dataset", "number_of_batchcentroids": 0, "number_of_batchpredictions":
        0, "number_of_clusters": 0, "number_of_ensembles": 0, "number_of_evaluations":
        0, "number_of_models": 0, "number_of_predictions": 0, "price": 0.0, "private":
        true, "ranges": null, "replacements": null, "resource": "dataset/53ac2d010af5e815350042b9",
        "rows": 0, "sample_rates": null, "seeds": null, "shared": false, "size": 4608,
        "source": "source/53ac2cffffa04408550066c5", "source_status": true, "status":
        {"code": 1, "message": "The dataset is being processed and will be created
        soon"}, "subscription": false, "tags": [], "term_limit": 32, "updated": "2014-06-26T14:24:01.356466",
        "user_metadata": {}}'
  recorded_at: Thu, 26 Jun 2014 14:24:02 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"dataset":"dataset/53ac2d010af5e815350042b9"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json
      location:
      - http://bigml.io/andromeda/model/53ac2d010af5e815350042bc
    body:
      encoding: UTF-8
      string: '{"balance_objective": false, "category": 0, "code": 201, "columns":
        5, "created": "2014-06-26T14:24:01.720765", "credits": 0.017578125, "credits_per_prediction":
        0.0, "dataset": "dataset/53ac2d010af5e815350042b9", "dataset_field_types":
        {"categorical": 0, "datetime": 0, "numeric": 0, "preferred": 0, "text": 0,
        "total": 5}, "dataset_status": true, "dataset_type": 0, "description": "",
        "dev": true, "ensemble": false, "ensemble_id": "", "ensemble_index": 0, "excluded_fields":
        null, "input_fields": null, "locale": "en-US", "max_columns": 5, "max_rows":
        0, "model": {"fields": {}, "root": {}}, "name": "iris'' dataset model", "node_threshold":
        512, "number_of_batchpredictions": 0, "number_of_evaluations": 0, "number_of_predictions":
        0, "number_of_public_predictions": 0, "objective_field": null, "objective_fields":
        [], "ordering": 0, "out_of_bag": false, "price": 0.0, "private": true, "randomize":
        false, "range": [1, 0], "replacement": false, "resource": "model/53ac2d010af5e815350042bc",
        "rows": 0, "sample_rate": 1.0, "shared": false, "size": 4608, "source": "source/53ac2cffffa04408550066c5",
        "source_status": true, "status": {"code": 0, "message": "The dataset is not
        ready yet"}, "subscription": false, "tags": [], "updated": "2014-06-26T14:24:01.720799",
        "white_box": false}'
  recorded_at: Thu, 26 Jun 2014 14:24:02 GMT
recorded_with: VCR 2.9.2
