---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-07-14T15:17:24.535000", "credits":
        0.0, "description": "", "dev": true, "fields": {"000000": {"column_number":
        0, "name": "sepal length", "optype": "numeric"}, "000001": {"column_number":
        1, "name": "sepal width", "optype": "numeric"}, "000002": {"column_number":
        2, "name": "petal length", "optype": "numeric"}, "000003": {"column_number":
        3, "name": "petal width", "optype": "numeric"}, "000004": {"column_number":
        4, "name": "species", "optype": "categorical"}}, "file_name": "iris.csv",
        "md5": "d1175c032e1042bec7f974c91e4a65ae", "name": "iris.csv", "number_of_datasets":
        1, "number_of_models": 0, "number_of_predictions": 0, "private": true, "resource":
        "source/50018d84035d074058000010", "size": 4608, "source_parser": {"header":
        true, "locale": "en_US", "missing_tokens": ["", "N/A", "n/a", "NULL", "null",
        "-", "#DIV/0", "#REF!", "#NAME?", "NIL", "nil", "NA", "na", "#VALUE!", "#NULL!",
        "NaN", "#N/A", "#NUM!", "?"], "quote": "\"", "separator": ","}, "status":
        {"code": 5, "elapsed": 76, "message": "The source has been created"}, "tags":
        [], "type": 0, "updated": "2012-07-14T15:17:26.451000"}]}'
  recorded_at: Sat, 14 Jul 2012 15:17:56 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/source/50018d84035d074058000010?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 14 Jul 2012 15:17:58 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-14T15:17:26.446000", "credits": 0.00439453125, "description":
        "", "dev": true, "locale": "en_US", "name": "iris'' dataset", "number_of_models":
        0, "number_of_predictions": 0, "private": true, "resource": "dataset/50018d86035d074059000023",
        "rows": 150, "size": 4608, "source": "source/50018d84035d074058000010", "source_status":
        false, "status": {"bytes": 4608, "code": 5, "elapsed": 107, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-07-14T15:18:31.786000"}]}'
  recorded_at: Sat, 14 Jul 2012 15:17:59 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/dataset/50018d86035d074059000023?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 14 Jul 2012 15:18:01 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/50018dd01552681edf00000f
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-07-14T15:18:40.366830", "credits": 0.0, "description": "",
        "dev": true, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/50018dd01552681edf00000f", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-07-14T15:18:40.366859"}'
  recorded_at: Sat, 14 Jul 2012 15:18:03 GMT
[...]
- request:
    method: put
    uri: https://bigml.io/dev/andromeda/dataset/50018d92035d074059000026?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: ! '{"name":"foo name"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 202
      message: ACCEPTED
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 202, "columns": 5, "created": "2012-07-14T15:17:38.129000",
        "credits": 0.00439453125, "description": "", "dev": true, "fields": {"000000":
        {"column_number": 0, "datatype": "double", "name": "sepal length", "optype":
        "numeric", "preferred": true, "summary": {"maximum": 7.9, "median": 5.77889,
        "minimum": 4.3, "missing_count": 0, "population": 150, "splits": [4.51526,
        4.67252, 4.81113, 4.89582, 4.96139, 5.01131, 5.05992, 5.11148, 5.18177, 5.35681,
        5.44129, 5.5108, 5.58255, 5.65532, 5.71658, 5.77889, 5.85381, 5.97078, 6.05104,
        6.13074, 6.23023, 6.29578, 6.35078, 6.41459, 6.49383, 6.63013, 6.70719, 6.79218,
        6.92597, 7.20423, 7.64746], "sum": 876.5, "sum_squares": 5223.85}}, "000001":
        {"column_number": 1, "datatype": "double", "name": "sepal width", "optype":
        "numeric", "preferred": true, "summary": {"counts": [[2, 1], [2.2, 3], [2.3,
        4], [2.4, 3], [2.5, 8], [2.6, 5], [2.7, 9], [2.8, 14], [2.9, 10], [3, 26],
        [3.1, 11], [3.2, 13], [3.3, 6], [3.4, 12], [3.5, 6], [3.6, 4], [3.7, 3], [3.8,
        6], [3.9, 2], [4, 1], [4.1, 1], [4.2, 1], [4.4, 1]], "maximum": 4.4, "median":
        3.02044, "minimum": 2, "missing_count": 0, "population": 150, "sum": 458.6,
        "sum_squares": 1430.4}}, "000002": {"column_number": 2, "datatype": "double",
        "name": "petal length", "optype": "nume[...]
[...]
