---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-06-25T15:40:44.389000", "credits":
        0.0, "description": "", "fields": {"000000": {"column_number": 0, "name":
        "sepal length", "optype": "numeric"}, "000001": {"column_number": 1, "name":
        "sepal width", "optype": "numeric"}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric"}, "000003": {"column_number": 3, "name":
        "petal width", "optype": "numeric"}, "000004": {"column_number": 4, "name":
        "species", "optype": "categorical"}}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 1, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fe8867c1552681eaf0028a9", "size":
        4608, "source_parser": {"header": true, "locale": "en_US", "missing_tokens":
        ["", "N/A", "n/a", "NULL", "null", "-", "#DIV/0", "#REF!", "#NAME?", "NIL",
        "nil", "NA", "na", "#VALUE!", "#NULL!", "NaN", "#N/A", "#NUM!", "?"], "quote":
        "\"", "separator": ","}, "status": {"code": 5, "elapsed": 496, "message":
        "The source has been created"}, "tags": [], "type": 0, "updated": "2012-06-25T15:40:04.935000"}]}'
  recorded_at: Mon, 25 Jun 2012 15:40:25 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/source/4fe8867c1552681eaf0028a9?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 25 Jun 2012 15:40:27 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-25T15:40:04.930000", "credits": 0.00439453125, "description":
        "", "locale": "en_US", "name": "foo name", "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "dataset/4fe88654035d0768300028dd", "rows":
        150, "size": 4608, "source": "source/4fe8867c1552681eaf0028a9", "source_status":
        false, "status": {"bytes": 4608, "code": 5, "elapsed": 525, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-06-25T15:40:06.244000"}]}'
  recorded_at: Mon, 25 Jun 2012 15:40:28 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/dataset/4fe88654035d0768300028dd?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 25 Jun 2012 15:40:30 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/4fe886871552681eae0028de
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-06-25T15:40:55.223196", "credits": 0.0, "description": "",
        "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae", "name":
        "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fe886871552681eae0028de", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-06-25T15:40:55.223228"}'
  recorded_at: Mon, 25 Jun 2012 15:40:31 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset/4fe8865f035d076831002877?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"code": 404, "status": {"code": -1201, "extra": ["Couldn''t find
        an instance of ''Dataset'' which matched ''pk=4fe8865f035d076831002877''."],
        "message": "Id does not exist"}}'
  recorded_at: Mon, 25 Jun 2012 15:40:35 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Mon, 25 Jun 2012 15:40:36 GMT
recorded_with: VCR 2.2.2
