---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/andromeda/source?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-06-25T14:06:34.292000", "credits":
        0.0, "description": "", "fields": {"000000": {"column_number": 0, "name":
        "sepal length", "optype": "numeric"}, "000001": {"column_number": 1, "name":
        "sepal width", "optype": "numeric"}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric"}, "000003": {"column_number": 3, "name":
        "petal width", "optype": "numeric"}, "000004": {"column_number": 4, "name":
        "species", "optype": "categorical"}}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 1, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fe8706a1552681eb1002931", "size":
        4608, "source_parser": {"header": true, "locale": "en_US", "missing_tokens":
        ["", "N/A", "n/a", "NULL", "null", "-", "#DIV/0", "#REF!", "#NAME?", "NIL",
        "nil", "NA", "na", "#VALUE!", "#NULL!", "NaN", "#N/A", "#NUM!", "?"], "quote":
        "\"", "separator": ","}, "status": {"code": 5, "elapsed": 67, "message": "The
        source has been created"}, "tags": [], "type": 0, "updated": "2012-06-25T14:05:54.943000"}]}'
  recorded_at: Mon, 25 Jun 2012 14:06:15 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/source/4fe8706a1552681eb1002931?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 25 Jun 2012 14:06:17 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-06-25T14:05:54.938000", "credits": 0.00439453125, "description":
        "", "locale": "en_US", "name": "foo name", "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "dataset/4fe87042035d0768300028b2", "rows":
        150, "size": 4608, "source": "source/4fe8706a1552681eb1002931", "source_status":
        false, "status": {"bytes": 4608, "code": 5, "elapsed": 166, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-06-25T14:05:56.118000"}]}'
  recorded_at: Mon, 25 Jun 2012 14:06:17 GMT
- request:
    method: delete
    uri: https://bigml.io/andromeda/dataset/4fe87042035d0768300028b2?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 25 Jun 2012 14:06:20 GMT
- request:
    method: post
    uri: https://bigml.io/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/4fe870751552681eb0002894
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-06-25T14:06:45.194683", "credits": 0.0, "description": "",
        "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae", "name":
        "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/4fe870751552681eb0002894", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-06-25T14:06:45.194707"}'
  recorded_at: Mon, 25 Jun 2012 14:06:21 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset/4fe8704d035d0768300028b8?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"code": 404, "status": {"code": -1201, "extra": ["Couldn''t find
        an instance of ''Dataset'' which matched ''pk=4fe8704d035d0768300028b8''."],
        "message": "Id does not exist"}}'
  recorded_at: Mon, 25 Jun 2012 14:06:33 GMT
- request:
    method: get
    uri: https://bigml.io/andromeda/dataset?username=vigosan&api_key=19721996cef9427ea7d6ee5ae489e9f717531a27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Mon, 25 Jun 2012 14:06:34 GMT
recorded_with: VCR 2.2.2
