---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2012-07-14T15:18:55.940000", "credits":
        0.0, "description": "", "dev": true, "fields": {"000000": {"column_number":
        0, "name": "sepal length", "optype": "numeric"}, "000001": {"column_number":
        1, "name": "sepal width", "optype": "numeric"}, "000002": {"column_number":
        2, "name": "petal length", "optype": "numeric"}, "000003": {"column_number":
        3, "name": "petal width", "optype": "numeric"}, "000004": {"column_number":
        4, "name": "species", "optype": "categorical"}}, "file_name": "iris.csv",
        "md5": "d1175c032e1042bec7f974c91e4a65ae", "name": "iris.csv", "number_of_datasets":
        1, "number_of_models": 0, "number_of_predictions": 0, "private": true, "resource":
        "source/50018ddf1552681d68000015", "size": 4608, "source_parser": {"header":
        true, "locale": "en_US", "missing_tokens": ["", "N/A", "n/a", "NULL", "null",
        "-", "#DIV/0", "#REF!", "#NAME?", "NIL", "nil", "NA", "na", "#VALUE!", "#NULL!",
        "NaN", "#N/A", "#NUM!", "?"], "quote": "\"", "separator": ","}, "status":
        {"code": 5, "elapsed": 93, "message": "The source has been created"}, "tags":
        [], "type": 0, "updated": "2012-07-14T15:17:53.476000"}]}'
  recorded_at: Sat, 14 Jul 2012 15:18:25 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/source/50018ddf1552681d68000015?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 14 Jul 2012 15:18:29 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "columns": 5,
        "created": "2012-07-14T15:17:53.472000", "credits": 0.00439453125, "description":
        "", "dev": true, "locale": "en_US", "name": "foo name", "number_of_models":
        0, "number_of_predictions": 0, "private": true, "resource": "dataset/50018da1035d0741ca00000c",
        "rows": 150, "size": 4608, "source": "source/50018ddf1552681d68000015", "source_status":
        false, "status": {"bytes": 4608, "code": 5, "elapsed": 104, "field_errors":
        [], "message": "The dataset has been created", "row_format_errors": [], "serialized_rows":
        150}, "tags": [], "updated": "2012-07-14T15:17:55.934000"}]}'
  recorded_at: Sat, 14 Jul 2012 15:18:30 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/dataset/50018da1035d0741ca00000c?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 14 Jul 2012 15:18:33 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - http://bigml.io/andromeda/source/50018df01552681edf000013
    body:
      encoding: US-ASCII
      string: ! '{"category": 0, "code": 201, "content_type": "application/octet-stream",
        "created": "2012-07-14T15:19:12.300629", "credits": 0.0, "description": "",
        "dev": true, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_models": 0, "number_of_predictions":
        0, "private": true, "resource": "source/50018df01552681edf000013", "size":
        4608, "source_parser": {}, "status": {"code": 1, "message": "The request has
        been queued and will be processed soon"}, "tags": [], "type": 0, "updated":
        "2012-07-14T15:19:12.300652"}'
  recorded_at: Sat, 14 Jul 2012 15:18:35 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/dataset/50018db2035d07405300001c?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"code": 404, "status": {"code": -1201, "extra": ["Couldn''t find
        an instance of ''Dataset'' which matched ''pk=50018db2035d07405300001c''."],
        "message": "Id does not exist"}}'
  recorded_at: Sat, 14 Jul 2012 15:18:42 GMT
recorded_with: VCR 2.2.2
