---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2014-06-26T14:17:22.582000", "credits":
        0.0, "description": "", "dev": true, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_ensembles": 0, "number_of_models":
        0, "number_of_predictions": 0, "private": true, "resource": "source/53ac2b720af5e8152c005d3d",
        "shared": false, "size": 4608, "source_parser": {"header": true, "locale":
        "en_US", "missing_tokens": ["", "NaN", "NULL", "N/A", "null", "-", "#REF!",
        "#VALUE!", "?", "#NULL!", "#NUM!", "#DIV/0", "n/a", "#NAME?", "NIL", "nil",
        "na", "#N/A", "NA"], "quote": "\"", "separator": ","}, "status": {"code":
        5, "elapsed": 410, "message": "The source has been created"}, "subscription":
        false, "tags": [], "term_analysis": {"enabled": true}, "type": 0, "updated":
        "2014-06-26T14:17:23.183000"}]}'
  recorded_at: Thu, 26 Jun 2014 14:21:25 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/source/53ac2b720af5e8152c005d3d?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 26 Jun 2014 14:21:26 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Thu, 26 Jun 2014 14:21:26 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/source
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json
      location:
      - http://bigml.io/andromeda/source/53ac2c65ffa04408550066b7
    body:
      encoding: UTF-8
      string: '{"category": 0, "code": 200, "content_type": "application/octet-stream",
        "created": "2014-06-26T14:21:25.625000", "credits": 0.0, "description": "",
        "dev": true, "fields": {"000000": {"column_number": 0, "name": "sepal length",
        "optype": "numeric", "order": 0}, "000001": {"column_number": 1, "name": "sepal
        width", "optype": "numeric", "order": 1}, "000002": {"column_number": 2, "name":
        "petal length", "optype": "numeric", "order": 2}, "000003": {"column_number":
        3, "name": "petal width", "optype": "numeric", "order": 3}, "000004": {"column_number":
        4, "name": "species", "optype": "categorical", "order": 4, "term_analysis":
        {"enabled": true}}}, "fields_meta": {"count": 5, "limit": 1000, "offset":
        0, "query_total": 5, "total": 5}, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 0, "number_of_ensembles": 0, "number_of_models":
        0, "number_of_predictions": 0, "private": true, "resource": "source/53ac2c65ffa04408550066b7",
        "shared": false, "size": 4608, "source_parser": {"header": true, "locale":
        "en_US", "missing_tokens": ["", "NaN", "NULL", "N/A", "null", "-", "#REF!",
        "#VALUE!", "?", "#NULL!", "#NUM!", "#DIV/0", "n/a", "#NAME?", "NIL", "nil",
        "na", "#N/A", "NA"], "quote": "\"", "separator": ","}, "status": {"code":
        5, "elapsed": 291, "message": "The source has been created"}, "subscription":
        false, "tags": [], "term_analysis": {"enabled": true}, "type": 0, "updated":
        "2014-06-26T14:21:26.093000"}'
  recorded_at: Thu, 26 Jun 2014 14:21:26 GMT
- request:
    method: post
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"source":"source/53ac2c65ffa04408550066b7"}'
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      content-type:
      - application/json
      location:
      - http://bigml.io/andromeda/dataset/53ac2c67ffa044085d0023c6
    body:
      encoding: UTF-8
      string: '{"all_fields": true, "category": 0, "cluster": null, "cluster_status":
        true, "code": 201, "columns": 0, "created": "2014-06-26T14:21:27.299172",
        "credits": 0.00439453125, "description": "", "dev": true, "download": {"code":
        0, "excluded_input_fields": [], "header": true, "input_fields": [], "message":
        "", "preview": [], "separator": ","}, "excluded_fields": [], "field_types":
        {"categorical": 0, "datetime": 0, "numeric": 0, "preferred": 0, "text": 0,
        "total": 0}, "fields_meta": {"count": 0, "limit": 1000, "offset": 0, "total":
        0}, "locale": "en-US", "missing_numeric_rows": 0, "missing_tokens": [], "name":
        "iris'' dataset", "number_of_batchcentroids": 0, "number_of_batchpredictions":
        0, "number_of_clusters": 0, "number_of_ensembles": 0, "number_of_evaluations":
        0, "number_of_models": 0, "number_of_predictions": 0, "price": 0.0, "private":
        true, "ranges": null, "replacements": null, "resource": "dataset/53ac2c67ffa044085d0023c6",
        "rows": 0, "sample_rates": null, "seeds": null, "shared": false, "size": 4608,
        "source": "source/53ac2c65ffa04408550066b7", "source_status": true, "status":
        {"code": 1, "message": "The dataset is being processed and will be created
        soon"}, "subscription": false, "tags": [], "term_limit": 32, "updated": "2014-06-26T14:21:27.299211",
        "user_metadata": {}}'
  recorded_at: Thu, 26 Jun 2014 14:21:28 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/dataset/53ac2c67ffa044085d0023c6?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"all_fields": true, "category": 0, "cluster": null, "cluster_status":
        true, "code": 200, "columns": 5, "created": "2014-06[...]
