---
http_interactions:
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/source?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"category": 0, "code": 200, "content_type":
        "application/octet-stream", "created": "2014-06-25T14:16:35.374000", "credits":
        0.0, "description": "", "dev": true, "file_name": "iris.csv", "md5": "d1175c032e1042bec7f974c91e4a65ae",
        "name": "iris.csv", "number_of_datasets": 1, "number_of_ensembles": 0, "number_of_models":
        1, "number_of_predictions": 0, "private": true, "resource": "source/53aad9c3ffa04408550016af",
        "shared": false, "size": 4608, "source_parser": {"header": true, "locale":
        "en_US", "missing_tokens": ["", "NaN", "NULL", "N/A", "null", "-", "#REF!",
        "#VALUE!", "?", "#NULL!", "#NUM!", "#DIV/0", "n/a", "#NAME?", "NIL", "nil",
        "na", "#N/A", "NA"], "quote": "\"", "separator": ","}, "status": {"code":
        5, "elapsed": 298, "message": "The source has been created"}, "subscription":
        false, "tags": [], "term_analysis": {"enabled": true}, "type": 0, "updated":
        "2014-06-25T14:16:38.690000"}]}'
  recorded_at: Wed, 25 Jun 2014 14:17:25 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/source/53aad9c3ffa04408550016af?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 25 Jun 2014 14:17:26 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/dataset?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"all_fields": true, "category": 0, "cluster":
        null, "cluster_status": true, "code": 200, "columns": 5, "created": "2014-06-25T14:16:36.957000",
        "credits": 0.00439453125, "description": "", "dev": true, "field_types": {"categorical":
        1, "datetime": 0, "numeric": 4, "preferred": 5, "text": 0, "total": 5}, "locale":
        "en_US", "missing_numeric_rows": 0, "name": "iris'' dataset", "number_of_batchcentroids":
        0, "number_of_batchpredictions": 0, "number_of_clusters": 0, "number_of_ensembles":
        0, "number_of_evaluations": 0, "number_of_models": 1, "number_of_predictions":
        0, "objective_field": {"column_number": 4, "datatype": "string", "id": "000004",
        "name": "species", "optype": "categorical", "order": 4, "term_analysis": {"enabled":
        true}}, "price": 0.0, "private": true, "ranges": null, "replacements": null,
        "resource": "dataset/53aad9c40af5e81535000e8b", "rows": 150, "sample_rates":
        null, "seeds": null, "shared": false, "size": 4608, "source": "source/53aad9c3ffa04408550016af",
        "source_status": false, "status": {"bytes": 4608, "code": 5, "elapsed": 433,
        "field_errors": [], "message": "The dataset has been created", "row_format_errors":
        [], "serialized_rows": 150}, "subscription": false, "tags": [], "term_limit":
        32, "updated": "2014-06-25T14:16:40.949000"}]}'
  recorded_at: Wed, 25 Jun 2014 14:17:26 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/dataset/53aad9c40af5e81535000e8b?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 25 Jun 2014 14:17:26 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/model?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"balance_objective": false, "category": 0,
        "code": 200, "columns": 5, "created": "2014-06-25T14:16:38.680000", "credits":
        0.017578125, "credits_per_prediction": 0.0, "dataset": "dataset/53aad9c40af5e81535000e8b",
        "dataset_field_types": {"categorical": 1, "datetime": 0, "numeric": 4, "preferred":
        5, "text": 0, "total": 5}, "dataset_status": false, "dataset_type": 0, "description":
        "", "dev": true, "ensemble": false, "ensemble_id": "", "ensemble_index": 0,
        "locale": "en_US", "max_columns": 5, "max_rows": 150, "name": "iris'' dataset
        model", "node_threshold": 512, "number_of_batchpredictions": 0, "number_of_evaluations":
        0, "number_of_predictions": 0, "number_of_public_predictions": 0, "objective_field":
        "000004", "objective_fields": ["000004"], "ordering": 0, "out_of_bag": false,
        "price": 0.0, "private": true, "randomize": false, "range": [1, 150], "replacement":
        false, "resource": "model/53aad9c60af5e8152f000a26", "rows": 150, "sample_rate":
        1.0, "selective_pruning": true, "shared": false, "size": 4608, "source": "source/53aad9c3ffa04408550016af",
        "source_status": false, "stat_pruning": true, "status": {"code": 5, "elapsed":
        319, "message": "The model has been created", "progress": 1.0}, "subscription":
        false, "tags": ["species"], "updated": "2014-06-25T14:16:40.959000", "white_box":
        false}]}'
  recorded_at: Wed, 25 Jun 2014 14:17:26 GMT
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/model/53aad9c60af5e8152f000a26?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 25 Jun 2014 14:17:27 GMT
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/evaluation?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 7}, "objects": [{"category": 0, "code": 500, "combiner": 0,
        "created": "2014-06-25T14:16:40.615000", "credits": 0.0, "dataset": "dataset/53aad9c40af5e81535000e8b",
        "dataset_status": false, "dataset_type": 0, "datasets": [], "description":
        "", "dev": true, "ensemble": "", "locale": "en-US", "max_rows": 150, "missing_strategy":
        0, "model": "model/53aad9c60af5e8152f000a26", "model_status": false, "model_type":
        0, "name": "Evaluation of iris'' dataset model with iris'' dataset", "number_of_models":
        1, "ordering": 0, "out_of_bag": false, "private": true, "range": [1, 150],
        "replacement": false, "resource": "evaluation/53aad9c8ffa04408550016b2", "rows":
        150, "sample_rate": 1.0, "sampled_rows": 150, "shared": false, "size": 4608,
        "status": {"code": -1, "message": "The evaluation cannot be perfomed"}, "subscription":
        false, "tags": [], "type": 0, "updated": "2014-06-25T14:16:40.957000"}, {"category":
        0, "code": 200, "combiner": 0, "created": "2014-06-25T14:16:25.626000", "credits":
        1.5, "dataset": "dataset/53aad9b50af5e81535000e7d", "dataset_status": false,
        "dataset_type": 0, "datasets": [], "description": "", "dev": true, "ensemble":
        "",[...]
- request:
    method: delete
    uri: https://bigml.io/dev/andromeda/evaluation/53aad9c8ffa04408550016b2?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 25 Jun 2014 14:17:27 GMT
[...]
- request:
    method: get
    uri: https://bigml.io/dev/andromeda/evaluation?username=<USERNAME>&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Wed, 25 Jun 2014 14:17:28 GMT
recorded_with: VCR 2.9.2
